<!-- Backdrop (Overlay) -->
<div
  class="gallery-overlay is-hidden"
  id="gallery-overlay-id"
  data-gallery-modal
  role="dialog"
  aria-label="Фон галереї"
  tabindex="-1"
>
  <div class="container gallery-overlay__container">
    <!-- Модальное окно -->
    <div
      class="gallery-modal gallery-overlay__gallery-modal"
      role="document"
      aria-label="Модальне вікно з галереєю фото 3D моделей"
      aria-modal="true"
    >
      <!-- Кнопка "Попередній слайд" (back) -->
      <button
        class="gallery-modal__btn-back"
        data-gallery-back
        type="button"
        aria-label="Попередній слайд"
      >
        <!-- m11x10, t26x26, d42x42 -->
        <svg
          class="gallery-modal__back-icon svg"
          aria-hidden="true"
          width="11"
          height="10"
          tabindex="-1"
        >
          <use xlink:href="./images/svg-sprite.svg#next-icon"></use>
        </svg>
      </button>

      <div class="gallery-carousel" data-gallery-carousel>
        <div class="gallery-modal__thumb">
          <picture>
            <!-- 1440px  webp -->
            <source
              media="(min-width: 768px)"
              sizes="(min-width: 768px) 906px, 85vw"
              srcset="
                ./images/main/more-photos/desktop/modal/lamps-enlarged-906.webp       906w,
                ./images/main/more-photos/desktop/modal/lamps-enlarged-1812-@2x.webp 1812w,
                ./images/main/more-photos/desktop/modal/lamps-enlarged-2718-@3x.webp 2718w
              "
              type="image/webp"
            />

            <!-- 1440px jpeg -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/main/more-photos/desktop/modal/lamps-enlarged-906.jpg       906w,
                ./images/main/more-photos/desktop/modal/lamps-enlarged-1812-@2x.jpg 1812w,
                ./images/main/more-photos/desktop/modal/lamps-enlarged-2718-@3x.jpg 2718w
              "
              sizes="(min-width: 768px) 906px, 85vw"
              type="image/jpeg"
            />

            <!-- 768px  webp -->
            <source
              media="(min-width: 768px)"
              sizes="(min-width: 768px) 554px, 85vw"
              srcset="
                ./images/main/more-photos/tablet/modal/two-lamps-enlarged-554.webp      554w,
                ./images/main/more-photos/tablet/modal/two-lamps-enlarged-1108@2x.webp 1108w,
                ./images/main/more-photos/tablet/modal/two-lamps-enlarged-1662@3x.webp 1108w
              "
              type="image/webp"
            />

            <!-- 768px jpeg -->
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/main/more-photos/tablet/modal/two-lamps-enlarged-554.jpg      554w,
                ./images/main/more-photos/tablet/modal/two-lamps-enlarged-1108@2x.jpg 1108w,
                ./images/main/more-photos/tablet/modal/two-lamps-enlarged-1662@3x.jpg 1108w
              "
              sizes="(min-width: 768px) 554px, 85vw"
              type="image/jpeg"
            />

            <img
              class="gallery-modal__image"
              data-photos-lazy
              data-gallery-image
              sizes="(min-width: 1440px) 906px, (min-width: 768px) 554px, (max-width: 767px) 236px, 88vw"
              srcset=""
              alt="Двi лампи зроблені на 3D-принтері"
            />
          </picture>
        </div>
      </div>

      <!-- Кнопка "Наступний слайд" (next) -->
      <button
        class="gallery-modal__btn-next"
        data-gallery-next
        type="button"
        aria-label="Наступний слайд"
      >
        <!-- m11x10, t26x26, d42x42 -->
        <svg
          class="gallery-modal__next-icon svg"
          aria-hidden="true"
          width="11"
          height="10"
          tabindex="-1"
        >
          <use xlink:href="./images/svg-sprite.svg#next-icon"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
