<section class="main-gallery">
  <div class="container">
    <h2 class="main-gallery__title">ГАЛЕРЕЯ</h2>
    <ul class="main-gallery__list list">
      <li class="main-gallery__item">
        <div class="main-gallery__img-wrapper">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/main-section/desktop/img-1.jpg    1x,
                ./images/main-section/desktop/img-1@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/main-section/tablet/img-1.jpg    1x,
                ./images/main-section/tablet/img-1@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/main-section/mobile/img-1.jpg    1x,
                ./images/main-section/mobile/img-1@2x.jpg 2x
              "
            />
            <img
              class="main-gallery__image"
              src="./images/main-section/desktop/img-1.jpg"
              alt="пример нашей работы"
            />
          </picture>
        </div>
        <div class="main-gallery__text-wrapper">
          <h3 class="main-gallery__text">Інженерні методи аналізу та контролю якості</h3>
        </div>
      </li>
      <li class="main-gallery__item">
        <div class="main-gallery__img-wrapper">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/main-section/desktop/img-2.jpg    1x,
                ./images/main-section/desktop/img-2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/main-section/tablet/img-2.jpg    1x,
                ./images/main-section/tablet/img-2@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/main-section/mobile/img-2.jpg    1x,
                ./images/main-section/mobile/img-2@2x.jpg 2x
              "
            />
            <img
              class="main-gallery__image"
              src="./images/main-section/desktop/img-2.jpg"
              alt="пример нашей работы"
            />
          </picture>
        </div>
        <div class="main-gallery__text-wrapper">
          <h3 class="main-gallery__text">Високоточне 3D сканування</h3>
        </div>
      </li>
      <li class="main-gallery__item">
        <div class="main-gallery__img-wrapper">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/main-section/desktop/img-3.jpg    1x,
                ./images/main-section/desktop/img-3@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/main-section/tablet/img-3.jpg    1x,
                ./images/main-section/tablet/img-3@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/main-section/mobile/img-3.jpg    1x,
                ./images/main-section/mobile/img-3@2x.jpg 2x
              "
            />
            <img
              class="main-gallery__image"
              src="./images/main-section/desktop/img-3.jpg"
              alt="пример нашей работы"
            />
          </picture>
        </div>
        <div class="main-gallery__text-wrapper">
          <h3 class="main-gallery__text">
            Створення точної копії на базі сканування reverse engineering
          </h3>
        </div>
      </li>
      <li class="main-gallery__item">
        <div class="main-gallery__img-wrapper">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/main-section/desktop/img-4.jpg    1x,
                ./images/main-section/desktop/img-4@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/main-section/tablet/img-4.jpg    1x,
                ./images/main-section/tablet/img-4@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/main-section/mobile/img-4.jpg    1x,
                ./images/main-section/mobile/img-4@2x.jpg 2x
              "
            />
            <img
              class="main-gallery__image"
              src="./images/main-section/desktop/img-4.jpg"
              alt="пример нашей работы"
            />
          </picture>
        </div>
        <div class="main-gallery__text-wrapper">
          <h3 class="main-gallery__text">
            Всі цикли 3D проектування, створення фотореалістичних цифрових моделей
          </h3>
        </div>
      </li>
    </ul>
  </div>
</section>
