<section class="main-gallery">
  <div class="container">
    <h2 class="main-gallery__title">ГАЛЕРЕЯ</h2>
    <ul class="main-gallery__list list">
      <li class="main-gallery__item">
        <div class="main-gallery__wrapper">
          <picture>
            <img src="" alt="" />
          </picture>
        </div>
      </li>
      <li class="main-gallery__item">
        <div class="main-gallery__wrapper">
          <picture>
            <img src="" alt="" />
          </picture>
        </div>
      </li>
      <li class="main-gallery__item">
        <div class="main-gallery__wrapper">
          <picture>
            <img src="" alt="" />
          </picture>
        </div>
      </li>
      <li class="main-gallery__item">
        <div class="main-gallery__wrapper">
          <picture>
            <img src="" alt="" />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
