<section class="hero">
  <div class="container">
    <div class="hero__cover">
      <h1 class="hero__title">
        Інженерна, конструкторська <br />
        та дизайнерська робота
      </h1>
    </div>
    <ul class="hero__list">
      <li class="hero__item">
        <div class="hero__wrapper">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/main-section/desktop/robot.jpg    1x,
                ./images/main-section/desktop/robot@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/main-section/tablet/robot.jpg     1x,
                ./images/main-section/desktop/robot@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/main-section/mobile/robot.jpg    1x,
                ./images/main-section/mobile/robot@2x.jpg 2x
              "
            />
            <img class="hero__image-1" src="./images/main-section/desktop/robot.jpg" alt="робот" />
          </picture>
        </div>
      </li>
      <li class="hero__item">
        <div class="hero__wrapper">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/main-section/desktop/lamp.jpg    1x,
                ./images/main-section/desktop/lamp@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/main-section/tablet/lamp.jpg     1x,
                ./images/main-section/desktop/lamp@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/main-section/mobile/lamp.jpg    1x,
                ./images/main-section/mobile/lamp@2x.jpg 2x
              "
            />
            <img class="hero__image-2" src="./images/main-section/desktop/lamp.jpg" alt="лампа" />
          </picture>
        </div>
      </li>
      <li class="hero__item">
        <div class="hero__wrapper">
          <picture>
            <source
              media="(min-width: 1440px)"
              srcset="
                ./images/main-section/desktop/sculpture.jpg    1x,
                ./images/main-section/desktop/sculpture@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ./images/main-section/tablet/sculpture.jpg     1x,
                ./images/main-section/desktop/sculpture@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 320px)"
              srcset="
                ./images/main-section/mobile/sculpture.jpg    1x,
                ./images/main-section/mobile/sculpture@2x.jpg 2x
              "
            />
            <img
              class="hero__image-3"
              src="./images/main-section/desktop/sculpture.jpg"
              alt="скульптура"
            />
          </picture>
        </div>
      </li>
    </ul>
    <h2 class="hero__subtitle">Ми втілюємо ідеї в реальність</h2>
  </div>

  <!-- BACKGROUND IMAGES -->

  <div class="bg-shadow-1">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./images/main-section/desktop/bg-img-1.jpg    1x,
          ./images/main-section/desktop/bg-img-1@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/main-section/tablet/bg-img-1.jpg    1x,
          ./images/main-section/tablet/bg-img-1@2x.jpg 2x
        "
      />
      <img class="bg-shadow-img-1" src="./images/main-section/desktop/bg-img-1.jpg" alt="фигура" />
    </picture>
  </div>
  <div class="bg-shadow-2">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./images/main-section/desktop/bg-img-2.jpg    1x,
          ./images/main-section/desktop/bg-img-2@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/main-section/tablet/bg-img-2.jpg    1x,
          ./images/main-section/tablet/bg-img-2@2x.jpg 2x
        "
      />
      <img class="bg-shadow-img-2" src="./images/main-section/desktop/bg-img-2.jpg" alt="фигура" />
    </picture>
  </div>
  <div class="bg-shadow-3">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./images/main-section/desktop/bg-img-3.jpg    1x,
          ./images/main-section/desktop/bg-img-3@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/main-section/tablet/bg-img-3.jpg    1x,
          ./images/main-section/tablet/bg-img-3@2x.jpg 2x
        "
      />
      <img class="bg-shadow-img-3" src="./images/main-section/desktop/bg-img-3.jpg" alt="фигура" />
    </picture>
  </div>
  <div class="bg-shadow-4">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./images/main-section/desktop/bg-img-4.jpg    1x,
          ./images/main-section/desktop/bg-img-4@2x.jpg 2x
        "
      />
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/main-section/tablet/bg-img-4.jpg    1x,
          ./images/main-section/tablet/bg-img-4@2x.jpg 2x
        "
      />
      <img class="bg-shadow-img-4" src="./images/main-section/desktop/bg-img-4.jpg" alt="фигура" />
    </picture>
  </div>
  <div class="bg-shadow-5">
    <picture>
      <source
        media="(min-width: 1440px)"
        srcset="
          ./images/main-section/desktop/bg-img-5.jpg    1x,
          ./images/main-section/desktop/bg-img-5@2x.jpg 2x
        "
      />
      <img class="bg-shadow-img-5" src="./images/main-section/desktop/bg-img-5.jpg" alt="фигура" />
    </picture>
  </div>
  <a class="bg-shadow-button__link" href="#gallery">
    <svg class="bg-shadow-button__icon">
      <use href="./images/svg-sprite.svg#arrow-icon"></use>
    </svg>
  </a>

  <!-- END BACKGROUND IMAGES -->
</section>
