<!-- More photos -->
<section class="more-photos section">
  <div class="container more-photos__container">
    <div class="more-photos__wrapper" aria-labelledby="more-photos__title-id">
      <h2 class="title-v1 more-photos__title" id="more-photos__title-id">БІЛЬШЕ ФОТО</h2>

      <!-- Список карточек "Більше Фото" -->
      <ul class="more-photos-list more-photos__list" data-placeholder="Заполнитель">
        <li class="more-photos__item">
          <div class="photos-card">
            <a class="photos-card__link links" rel="noopener nofollow noreferrer" href="#0">
              <div class="photos-card__thumb">
                <picture class="photos__picture">
                  <!-- /* more-photos sizes: desktop
                    406x260 378x260 214x260
                    214x271 378x271 406x271
                    406x203 405x203	187x203
                    214x250 378x260 406x260 */
                  -->

                  <!-- 1102px - 406x260 -->
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                    sizes="(min-width: 1440px) 406px, 100vw"
                  />

                  <!--
                    768px
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/squooshed/portfolio/tablet/project-1-tablet-354x294.webp    1x,
                      ./images/squooshed/portfolio/tablet/project-1-tablet-708x588@2x.webp 2x,
                      ./images/squooshed/portfolio/tablet/project-1-tablet-354x294.jpg     1x,
                      ./images/squooshed/portfolio/tablet/project-1-tablet-708x588@2x.jpg  2x
                    "
                  />
                  -->

                  <!-- 768px -->
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-280.webp      280w,
                      ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-560@2x.webp   560w,
                      ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-840@3x.webp   840w,
                      ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-1120@4x.webp 1120w,
                      ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-280.jpg       280w,
                      ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-560@2x.jpg    560w,
                      ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-840@3x.jpg    840w,
                      ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-1120@4x.jpg  1120w
                    "
                    sizes="(min-width: 768px) 280px, 100vw"
                  />

                  <!-- 320px
                    <source
                      media="(max-width: 320px)"
                      srcset="
                        ./images/squooshed/portfolio/mobile/project-1-mobile-450x294.webp    1x,
                        ./images/squooshed/portfolio/mobile/project-1-mobile-900x588@2x.webp 2x,
                        ./images/squooshed/portfolio/mobile/project-1-mobile-450x294.jpg     1x,
                        ./images/squooshed/portfolio/mobile/project-1-mobile-900x588@2x.jpg  2x
                      "
                    />
                  -->

                  <!-- 320px -->
                  <source
                    media="(max-width: 320px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                    sizes="(max-width: 320px) 280px, 100vw"
                  />

                  <img
                    class="photos-card__image image"
                    src="#"
                    alt="3D моделі виготовлені на 3D принтері "
                  />
                </picture>
                <!-- width="23.125rem" height="18.375rem" -->
              </div>
            </a>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <a class="photos-card__link links" rel="noopener nofollow noreferrer" href="#0">
              <div class="photos-card__thumb">
                <picture class="photos__picture">
                  <!-- 1102px - 378x260-->
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-02/architectural-model-378.webp      378w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-756@2x.webp   756w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-1134@3x.webp 1134w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-1512@4x.webp 1512w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-378.jpg       378w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-756@2x.jpg    756w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-1134@3x.jpg  1134w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-1512@4x.jpg  1512w
                    "
                    sizes="(min-width: 1440px) 378px, 33vw"
                  />

                  <!-- TODO: Kostiantyn Ochenash: Finish html and css for grid layout till EBD 2021-08-14 -->
                  <!-- /* more-photos sizes: desktop
                    406x260 378x260 214x260
                    214x271 378x271 406x271
                    406x203 405x203	187x203
                    214x250 378x260 406x260 */
                  sizes="(min-width: 1440px) 406px, 100vw"
                  -->

                  <!-- 768px -->
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-02/architectural-model-378.webp      378w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-756@2x.webp   756w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-1134@3x.webp 1134w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-1512@4x.webp 1512w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-378.jpg       378w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-756@2x.jpg    756w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-1134@3x.jpg  1134w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-1512@4x.jpg  1512w
                    "
                  />

                  <!-- 320px -->
                  <source
                    media="(max-width: 320px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-02/architectural-model-378.webp      378w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-756@2x.webp   756w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-1134@3x.webp 1134w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-1512@4x.webp 1512w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-378.jpg       378w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-756@2x.jpg    756w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-1134@3x.jpg  1134w,
                      ./images/main/more-photos/desktop/more-02/architectural-model-1512@4x.jpg  1512w
                    "
                  />

                  <img
                    class="photos-card__image image"
                    src="#"
                    alt="3D моделі виготовлені на 3D принтері "
                  />
                </picture>
              </div>
            </a>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <a class="photos-card__link links" rel="noopener nofollow noreferrer" href="#0">
              <div class="photos-card__thumb">
                <picture class="photos__picture">
                  <!-- 1102px -->
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 768px -->
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 320px -->
                  <source
                    media="(max-width: 320px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <img
                    class="photos-card__image image"
                    src="#"
                    alt="3D моделі виготовлені на 3D принтері "
                  />
                </picture>
              </div>
            </a>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <a class="photos-card__link links" rel="noopener nofollow noreferrer" href="#0">
              <div class="photos-card__thumb">
                <picture class="photos__picture">
                  <!-- 1102px -->
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 768px -->
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 320px -->
                  <source
                    media="(max-width: 320px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <img
                    class="photos-card__image image"
                    src="#"
                    alt="3D моделі виготовлені на 3D принтері "
                  />
                </picture>
              </div>
            </a>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <a class="photos-card__link links" rel="noopener nofollow noreferrer" href="#0">
              <div class="photos-card__thumb">
                <picture class="photos__picture">
                  <!-- 1102px -->
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 768px -->
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 320px -->
                  <source
                    media="(max-width: 320px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <img
                    class="photos-card__image image"
                    src="#"
                    alt="3D моделі виготовлені на 3D принтері "
                  />
                </picture>
              </div>
            </a>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <a class="photos-card__link links" rel="noopener nofollow noreferrer" href="#0">
              <div class="photos-card__thumb">
                <picture class="photos__picture">
                  <!-- 1102px -->
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 768px -->
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 320px -->
                  <source
                    media="(max-width: 320px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <img
                    class="photos-card__image image"
                    src="#"
                    alt="3D моделі виготовлені на 3D принтері "
                  />
                </picture>
              </div>
            </a>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <a class="photos-card__link links" rel="noopener nofollow noreferrer" href="#0">
              <div class="photos-card__thumb">
                <picture class="photos__picture">
                  <!-- 1102px -->
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 768px -->
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 320px -->
                  <source
                    media="(max-width: 320px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <img
                    class="photos-card__image image"
                    src="#"
                    alt="3D моделі виготовлені на 3D принтері "
                  />
                </picture>
              </div>
            </a>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <a class="photos-card__link links" rel="noopener nofollow noreferrer" href="#0">
              <div class="photos-card__thumb">
                <picture class="photos__picture">
                  <!-- 1102px -->
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 768px -->
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 320px -->
                  <source
                    media="(max-width: 320px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <img
                    class="photos-card__image image"
                    src="#"
                    alt="3D моделі виготовлені на 3D принтері "
                  />
                </picture>
              </div>
            </a>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <a class="photos-card__link links" rel="noopener nofollow noreferrer" href="#0">
              <div class="photos-card__thumb">
                <picture class="photos__picture">
                  <!--    1102px
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      ./images/squooshed/portfolio/desktop/project-9-desktop-370x294.webp    1x,
                      ./images/squooshed/portfolio/desktop/project-9-desktop-740x588@2x.webp 2x,
                      ./images/squooshed/portfolio/desktop/project-9-desktop-370x294.jpg     1x,
                      ./images/squooshed/portfolio/desktop/project-9-desktop-740x588@2x.jpg  2x
                    "
                  />
                  -->

                  <!-- 1102px -->
                  <source
                    media="(min-width: 1440px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 768px -->
                  <source
                    media="(min-width: 768px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <!-- 320px -->
                  <source
                    media="(max-width: 320px)"
                    srcset="
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg       406w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg    812w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg  1218w,
                      ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg  1624w
                    "
                  />

                  <img
                    class="photos-card__image image"
                    src="#"
                    alt="3D моделі виготовлені на 3D принтері "
                  />
                </picture>
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
