<!--
  Задача от Тим Лида @Valerii на "Бiльше Фото":
-В бекдропе - ставлю 12 копий одного большого качественного изображения с макета (2 лампы)- потому что нет других больших изображений от дизайнера, только 1.
- Сделать слайдер на Slick (jquery).
- Развешать доп классы, как требуется для плавной прокрутки галереи от slick.
- Скачать иконки для кнопок, оптимизировать и добавить в спрайт.
 -->

<!-- More photos -->
<section class="more-photos section">
  <div class="container more-photos__container">
    <div class="more-photos__wrapper" aria-labelledby="more-photos__title-id">
      <h2 class="title-v1 more-photos__title" id="more-photos__title-id">Більше Фото</h2>

      <!-- path

Для начала, надо сделать обычный x1 и x2. Это база.
Потом в модалке можно прикрутить x3 и x4 на выбор.
x3 and x4 - keep for modal window
Делаю так: просто все пути ставлю, а потом скопирую их в модалку и не парюсь.
Потом с мобильной версию удаляю x3, чтобы трафик не хавало у пользователей.
x2 почти не отличить от x3 на мобилке.
jpeg is in scrset="" by defaul as fallback



---------------------------------------------------------------------------------------------------------
03
./images/main/more-photos/desktop/more-03/wall-e-214.webp 214w,
./images/main/more-photos/desktop/more-03/wall-e-428@2x.webp 428w,
./images/main/more-photos/desktop/more-03/wall-e-642@3x.webp 642w,
./images/main/more-photos/desktop/more-03/wall-e-856@4x.webp 856w

./images/main/more-photos/desktop/more-03/wall-e-214.jpg 214w,
./images/main/more-photos/desktop/more-03/wall-e-428@2x.jpg 428w,
./images/main/more-photos/desktop/more-03/wall-e-642@3x.jpg 642w,
./images/main/more-photos/desktop/more-03/wall-e-856@4x.jpg 856w
---------------
./images/main/more-photos/tablet/more-03/wall-e-131.webp 131w,
./images/main/more-photos/tablet/more-03/wall-e-262@2x.webp 262w,
./images/main/more-photos/tablet/more-03/wall-e-392@3x.webp 392w,
./images/main/more-photos/tablet/more-03/wall-e-523@4x.webp 523w

./images/main/more-photos/tablet/more-03/wall-e-131.jpg 131w,
./images/main/more-photos/tablet/more-03/wall-e-262@2x.jpg 262w,
./images/main/more-photos/tablet/more-03/wall-e-392@3x.jpg 392w,
./images/main/more-photos/tablet/more-03/wall-e-523@4x.jpg 523w
---------------
./images/main/more-photos/mobile/more-03/wall-e-280.webp 280w,
./images/main/more-photos/mobile/more-03/wall-e-560@2x.webp 560w,
./images/main/more-photos/mobile/more-03/wall-e-840@3x.webp 840w,
./images/main/more-photos/mobile/more-03/wall-e-1120@4x.webp 1120w

./images/main/more-photos/mobile/more-03/wall-e-280.jpg 280w,
./images/main/more-photos/mobile/more-03/wall-e-560@2x.jpg 560w,
./images/main/more-photos/mobile/more-03/wall-e-840@3x.jpg 840w,
./images/main/more-photos/mobile/more-03/wall-e-1120@4x.jpg 1120w

---------------------------------------------------------------------------------------------------------
04
./images/main/more-photos/desktop/more-04/skull-214.webp 214w,
./images/main/more-photos/desktop/more-04/skull-428@2x.webp 428w,
./images/main/more-photos/desktop/more-04/skull-642@3x.webp 642w,
./images/main/more-photos/desktop/more-04/skull-856@4x.webp 856w

./images/main/more-photos/desktop/more-04/skull-214.jpg 214w,
./images/main/more-photos/desktop/more-04/skull-428@2x.jpg 428w,
./images/main/more-photos/desktop/more-04/skull-642@3x.jpg 642w,
./images/main/more-photos/desktop/more-04/skull-856@4x.jpg 856w
---------------
./images/main/more-photos/tablet/more-04/skull-model-131.webp 131w,
./images/main/more-photos/tablet/more-04/skull-model-262@2x.webp 262w,
./images/main/more-photos/tablet/more-04/skull-model-392@3x.webp 392w,
./images/main/more-photos/tablet/more-04/skull-model-523@4x.webp 523w

./images/main/more-photos/tablet/more-04/skull-model-131.jpg 131w,
./images/main/more-photos/tablet/more-04/skull-model-262@2x.jpg 262w,
./images/main/more-photos/tablet/more-04/skull-model-392@3x.jpg 392w,
./images/main/more-photos/tablet/more-04/skull-model-523@4x.jpg 523w
---------------
Mobile version same as tablet because designer provided us only 3 images for mobile.

---------------------------------------------------------------------------------------------------------
05
./images/main/more-photos/desktop/more-05/T-29-tank-3d-model-378.webp 378w,
./images/main/more-photos/desktop/more-05/T-29-tank-3d-model-756@2x.webp 756w,
./images/main/more-photos/desktop/more-05/T-29-tank-3d-model-1134@3x.webp 1134w,
./images/main/more-photos/desktop/more-05/T-29-tank-3d-model-1512@4x.webp 1512w

./images/main/more-photos/desktop/more-05/T-29-tank-3d-model-378.jpg 378w,
./images/main/more-photos/desktop/more-05/T-29-tank-3d-model-756@2x.jpg 756w,
./images/main/more-photos/desktop/more-05/T-29-tank-3d-model-1134@3x.jpg 1134w,
./images/main/more-photos/desktop/more-05/T-29-tank-3d-model-1512@4x.jpg 1512w
---------------
./images/main/more-photos/tablet/more-05/T-29-tank-3d-model-231.webp 231w,
./images/main/more-photos/tablet/more-05/T-29-tank-3d-model-462@2x.webp 462w,
./images/main/more-photos/tablet/more-05/T-29-tank-3d-model-693@3x.webp 693w,
./images/main/more-photos/tablet/more-05/T-29-tank-3d-model-923@4x.webp 923w

./images/main/more-photos/tablet/more-05/T-29-tank-3d-model-231.jpg 231w,
./images/main/more-photos/tablet/more-05/T-29-tank-3d-model-462@2x.jpg 462w,
./images/main/more-photos/tablet/more-05/T-29-tank-3d-model-693@3x.jpg 693w,
./images/main/more-photos/tablet/more-05/T-29-tank-3d-model-923@4x.jpg 923w
---------------
Mobile version same as tablet because designer provided us only 3 images for mobile.

---------------------------------------------------------------------------------------------------------
06
./images/main/more-photos/desktop/more-06/lamps-406.webp 406w,
./images/main/more-photos/desktop/more-06/lamps-812@2x.webp 812w,
./images/main/more-photos/desktop/more-06/lamps-1218@3x.webp 1218w,
./images/main/more-photos/desktop/more-06/lamps-1624@4x.webp 1624w

./images/main/more-photos/desktop/more-06/lamps-406.jpg 406w,
./images/main/more-photos/desktop/more-06/lamps-812@2x.jpg 812w,
./images/main/more-photos/desktop/more-06/lamps-1218@3x.jpg 1218w,
./images/main/more-photos/desktop/more-06/lamps-1624@4x.jpg 1624w
---------------
./images/main/more-photos/tablet/more-06/two-lamps-248.webp 248w,
./images/main/more-photos/tablet/more-06/two-lamps-496@2x.webp 496w,
./images/main/more-photos/tablet/more-06/two-lamps-744@3x.webp 744w,
./images/main/more-photos/tablet/more-06/two-lamps-991@4x.webp 991w

./images/main/more-photos/tablet/more-06/two-lamps-248.jpg 248w,
./images/main/more-photos/tablet/more-06/two-lamps-496@2x.jpg 496w,
./images/main/more-photos/tablet/more-06/two-lamps-744@3x.jpg 744w,
./images/main/more-photos/tablet/more-06/two-lamps-991@4x.jpg 991w
---------------
Mobile version same as tablet because designer provided us only 3 images for mobile.

---------------------------------------------------------------------------------------------------------
07
./images/main/more-photos/desktop/more-07/sportcar-406.webp 406w,
./images/main/more-photos/desktop/more-07/sportcar-812@2x.webp 812w,
./images/main/more-photos/desktop/more-07/sportcar-1218@3x.webp 1218w,
./images/main/more-photos/desktop/more-07/sportcar-1624@4x.webp 1624w

./images/main/more-photos/desktop/more-07/sportcar-406.jpg 406w,
./images/main/more-photos/desktop/more-07/sportcar-812@2x.jpg 812w,
./images/main/more-photos/desktop/more-07/sportcar-1218@3x.jpg 1218w,
./images/main/more-photos/desktop/more-07/sportcar-1624@4x.jpg 1624w
---------------
./images/main/more-photos/tablet/more-07/sportcar-248.webp 248w,
./images/main/more-photos/tablet/more-07/sportcar-496@2x.webp 496w,
./images/main/more-photos/tablet/more-07/sportcar-744@3x.webp 744w,
./images/main/more-photos/tablet/more-07/sportcar-991@4x.webp 991w

./images/main/more-photos/tablet/more-07/sportcar-248.jpg 248w,
./images/main/more-photos/tablet/more-07/sportcar-496@2x.jpg 496w,
./images/main/more-photos/tablet/more-07/sportcar-744@3x.jpg 744w,
./images/main/more-photos/tablet/more-07/sportcar-991@4x.jpg 991w
---------------
Mobile version same as tablet because designer provided us only 3 images for mobile.

---------------------------------------------------------------------------------------------------------
08
./images/main/more-photos/desktop/more-08/round-building-405.webp 405w,
./images/main/more-photos/desktop/more-08/round-building-810@2x.webp 810w,
./images/main/more-photos/desktop/more-08/round-building-1215@3x.webp 1215w,
./images/main/more-photos/desktop/more-08/round-building-1620@4x.webp 1620w

./images/main/more-photos/desktop/more-08/round-building-405.jpg 405w,
./images/main/more-photos/desktop/more-08/round-building-810@2x.jpg 810w,
./images/main/more-photos/desktop/more-08/round-building-1215@3x.jpg 1215w,
./images/main/more-photos/desktop/more-08/round-building-1620@4x.jpg 1620w
---------------
./images/main/more-photos/tablet/more-08/round-building-248.webp 248w,
./images/main/more-photos/tablet/more-08/round-building-495@2x.webp 495w,
./images/main/more-photos/tablet/more-08/round-building-743@3x.webp 743w,
./images/main/more-photos/tablet/more-08/round-building-989@4x.webp 989w

./images/main/more-photos/tablet/more-08/round-building-248.jpg 248w,
./images/main/more-photos/tablet/more-08/round-building-495@2x.jpg 495w,
./images/main/more-photos/tablet/more-08/round-building-743@3x.jpg 743w,
./images/main/more-photos/tablet/more-08/round-building-989@4x.jpg 989w
---------------
Mobile version same as tablet because designer provided us only 3 images for mobile.

---------------------------------------------------------------------------------------------------------
09
./images/main/more-photos/desktop/more-09/mushroom-lamp-187.webp 187w,
./images/main/more-photos/desktop/more-09/mushroom-lamp-374@2x.webp 374w,
./images/main/more-photos/desktop/more-09/mushroom-lamp-561@3x.webp 561w,
./images/main/more-photos/desktop/more-09/mushroom-lamp-748@4x.webp 748w

./images/main/more-photos/desktop/more-09/mushroom-lamp-187.jpg 187w,
./images/main/more-photos/desktop/more-09/mushroom-lamp-374@2x.jpg 374w,
./images/main/more-photos/desktop/more-09/mushroom-lamp-561@3x.jpg 561w,
./images/main/more-photos/desktop/more-09/mushroom-lamp-748@4x.jpg 748w
---------------
./images/main/more-photos/tablet/more-09/mushroom-lamp-115.webp 115w,
./images/main/more-photos/tablet/more-09/mushroom-lamp-229@2x.webp 229w,
./images/main/more-photos/tablet/more-09/mushroom-lamp-343@3x.webp 343w,
./images/main/more-photos/tablet/more-09/mushroom-lamp-457@4x.webp 457w

./images/main/more-photos/tablet/more-09/mushroom-lamp-115.jpg 115w,
./images/main/more-photos/tablet/more-09/mushroom-lamp-229@2x.jpg 229w,
./images/main/more-photos/tablet/more-09/mushroom-lamp-343@3x.jpg 343w,
./images/main/more-photos/tablet/more-09/mushroom-lamp-457@4x.jpg 457w
---------------
Mobile version same as tablet because designer provided us only 3 images for mobile.

---------------------------------------------------------------------------------------------------------
10
./images/main/more-photos/desktop/more-10/speakers-214.webp 214w,
./images/main/more-photos/desktop/more-10/speakers-428@2x.webp 428w,
./images/main/more-photos/desktop/more-10/speakers-642@3x.webp 642w,
./images/main/more-photos/desktop/more-10/speakers-856@4x.webp 856w

./images/main/more-photos/desktop/more-10/speakers-214.jpg 214w,
./images/main/more-photos/desktop/more-10/speakers-428@2x.jpg 428w,
./images/main/more-photos/desktop/more-10/speakers-642@3x.jpg 642w,
./images/main/more-photos/desktop/more-10/speakers-856@4x.jpg 856w
---------------
./images/main/more-photos/tablet/more-10/speakers-131.webp 131w,
./images/main/more-photos/tablet/more-10/speakers-262@2x.webp 262w,
./images/main/more-photos/tablet/more-10/speakers-392@3x.webp 392w,
./images/main/more-photos/tablet/more-10/speakers-523@4x.webp 523w

./images/main/more-photos/tablet/more-10/speakers-131.jpg 131w,
./images/main/more-photos/tablet/more-10/speakers-262@2x.jpg 262w,
./images/main/more-photos/tablet/more-10/speakers-392@3x.jpg 392w,
./images/main/more-photos/tablet/more-10/speakers-523@4x.jpg 523w
---------------
Mobile version same as tablet because designer provided us only 3 images for mobile.

---------------------------------------------------------------------------------------------------------
11
./images/main/more-photos/desktop/more-11/сybertruck-378.webp 378w,
./images/main/more-photos/desktop/more-11/сybertruck-756@2x.webp 756w,
./images/main/more-photos/desktop/more-11/сybertruck-1134@3x.webp 1134w,
./images/main/more-photos/desktop/more-11/сybertruck-1512@4x.webp 1512w

./images/main/more-photos/desktop/more-11/сybertruck-378.jpg 378w,
./images/main/more-photos/desktop/more-11/сybertruck-756@2x.jpg 756w,
./images/main/more-photos/desktop/more-11/сybertruck-1134@3x.jpg 1134w,
./images/main/more-photos/desktop/more-11/сybertruck-1512@4x.jpg 1512w
---------------
./images/main/more-photos/tablet/more-11/cybertruck-231.webp 231w,
./images/main/more-photos/tablet/more-11/cybertruck-462@2x.webp 462w,
./images/main/more-photos/tablet/more-11/cybertruck-693@3x.webp 693w,
./images/main/more-photos/tablet/more-11/cybertruck-923@4x.webp 923w

./images/main/more-photos/tablet/more-11/cybertruck-231.jpg 231w,
./images/main/more-photos/tablet/more-11/cybertruck-462@2x.jpg 462w,
./images/main/more-photos/tablet/more-11/cybertruck-693@3x.jpg 693w,
./images/main/more-photos/tablet/more-11/cybertruck-923@4x.jpg 923w
---------------
Mobile version same as tablet because designer provided us only 3 images for mobile.

---------------------------------------------------------------------------------------------------------
12
./images/main/more-photos/desktop/more-12/3d-hexagon-for-plants-406.webp 406w,
./images/main/more-photos/desktop/more-12/3d-hexagon-for-plants-812@2x.webp 812w,
./images/main/more-photos/desktop/more-12/3d-hexagon-for-plants-1218@3x.webp 1218w,
./images/main/more-photos/desktop/more-12/3d-hexagon-for-plants-1624@4x.webp 1624w

./images/main/more-photos/desktop/more-12/3d-hexagon-for-plants-406.jpg 406w,
./images/main/more-photos/desktop/more-12/3d-hexagon-for-plants-812@2x.jpg 812w,
./images/main/more-photos/desktop/more-12/3d-hexagon-for-plants-1218@3x.jpg 1218w,
./images/main/more-photos/desktop/more-12/3d-hexagon-for-plants-1624@4x.jpg 1624w
---------------
./images/main/more-photos/tablet/more-12/3d-hexagon-for-plants-248.webp 248w,
./images/main/more-photos/tablet/more-12/3d-hexagon-for-plants-496@2x.webp 496w,
./images/main/more-photos/tablet/more-12/3d-hexagon-for-plants-744@3x.webp 744w,
./images/main/more-photos/tablet/more-12/3d-hexagon-for-plants-991@4x.webp 991w

./images/main/more-photos/tablet/more-12/3d-hexagon-for-plants-248.jpg 248w,
./images/main/more-photos/tablet/more-12/3d-hexagon-for-plants-496@2x.jpg 496w,
./images/main/more-photos/tablet/more-12/3d-hexagon-for-plants-744@3x.jpg 744w,
./images/main/more-photos/tablet/more-12/3d-hexagon-for-plants-991@4x.jpg 991w
---------------
Mobile version same as tablet because designer provided us only 3 images for mobile.

---------------------------------------------------------------------------------------------------------
-->

      <!-- Список карточек "Більше Фото" -->
      <ul
        class="more-photos__list"
        data-photos-list
        data-placeholder="Заполнитель"
        aria-controls="gallery-overlay-id"
        aria-expanded="false"
        tabindex="-1"
      >
        <li class="more-photos__item">
          <div class="photos-card">
            <div class="photos-card__thumb">
              <!-- 01 406x260 | 247x158 | 280x179 -->
              <picture class="photos-card__picture">
                <!-- 1440px - 406x260 webp-->
                <source
                  media="(min-width: 1440px)"
                  sizes="(min-width: 1440px) 406px, 28vw"
                  type="image/webp"
                  srcset="
                    ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.webp      406w,
                    ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.webp   812w,
                    ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.webp 1218w,
                    ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.webp 1624w
                  "
                />
                <!-- 1440px - 406x260 jpeg -->
                <source
                  media="(min-width: 1440px)"
                  sizes="(min-width: 1440px) 406px, 28vw"
                  type="image/jpeg"
                  srcset="
                    ./images/main/more-photos/desktop/more-01/design-hq-3d-models-406.jpg      406w,
                    ./images/main/more-photos/desktop/more-01/design-hq-3d-models-812@2x.jpg   812w,
                    ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1218@3x.jpg 1218w,
                    ./images/main/more-photos/desktop/more-01/design-hq-3d-models-1624@4x.jpg 1624w
                  "
                />

                <!-- 768px - 248x158 webp-->
                <source
                  media="(min-width: 768px)"
                  sizes="(min-width: 768px) 248px, 32vw"
                  type="image/webp"
                  srcset="
                    ./images/main/more-photos/tablet/more-01/design-3d-printed-hq-models-248.webp    248w,
                    ./images/main/more-photos/tablet/more-01/design-3d-printed-hq-models-496@2x.webp 496w,
                    ./images/main/more-photos/tablet/more-01/design-3d-printed-hq-models-744@3x.webp 744w,
                    ./images/main/more-photos/tablet/more-01/design-3d-printed-hq-models-991@4x.webp 991w
                  "
                />

                <!-- 768px - 248x158 jpeg-->
                <source
                  media="(min-width: 768px)"
                  sizes="(min-width: 768px) 248px, 32vw"
                  type="image/jpeg"
                  srcset="
                    ./images/main/more-photos/tablet/more-01/design-3d-printed-hq-models-248.jpg    248w,
                    ./images/main/more-photos/tablet/more-01/design-3d-printed-hq-models-496@2x.jpg 496w,
                    ./images/main/more-photos/tablet/more-01/design-3d-printed-hq-models-744@3x.jpg 744w,
                    ./images/main/more-photos/tablet/more-01/design-3d-printed-hq-models-991@4x.jpg 991w
                  "
                />

                <!-- 320px - 280px -->
                <source
                  media="(max-width: 767px)"
                  sizes="(max-width: 767px) 280px, 88vw"
                  type="image/webp"
                  srcset="
                    ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-280.webp      280w,
                    ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-560@2x.webp   560w,
                    ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-840@3x.webp   840w,
                    ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-1120@4x.webp 1120w
                  "
                />

                <!-- 320px - 280px -->
                <!-- 1st image - 01 sizes -->
                <img
                  class="photos-card__image image"
                  data-photos-lazy
                  sizes="(min-width: 1440px) 406px, (min-width: 768px) 248px, 88vw"
                  srcset="
                    ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-280.jpg      280w,
                    ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-560@2x.jpg   560w,
                    ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-840@3x.jpg   840w,
                    ./images/main/more-photos/mobile/more-01/design-hq-3d-model-for-3d-printer-1120@4x.jpg 1120w
                  "
                  alt="3D моделі виготовлені на 3D принтері"
                />
              </picture>
            </div>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <div class="photos-card__thumb">
              <!-- 02 378x260 | 230x158 | 280x193 -->
              <picture class="photos-card__picture">
                <!-- 1440px - 378x260-->
                <source
                  media="(min-width: 1440px)"
                  sizes="(min-width: 1440px) 378px, 26vw"
                  srcset="
                    ./images/main/more-photos/desktop/more-02/architectural-model-378.webp      378w,
                    ./images/main/more-photos/desktop/more-02/architectural-model-756@2x.webp   756w,
                    ./images/main/more-photos/desktop/more-02/architectural-model-1134@3x.webp 1134w,
                    ./images/main/more-photos/desktop/more-02/architectural-model-1512@4x.webp 1512w
                  "
                  type="image/webp"
                />

                <!-- 1440px - 378x260-->
                <source
                  media="(min-width: 1440px)"
                  sizes="(min-width: 1440px) 378px, 26vw"
                  srcset="
                    ./images/main/more-photos/desktop/more-02/architectural-model-378.jpg      378w,
                    ./images/main/more-photos/desktop/more-02/architectural-model-756@2x.jpg   756w,
                    ./images/main/more-photos/desktop/more-02/architectural-model-1134@3x.jpg 1134w,
                    ./images/main/more-photos/desktop/more-02/architectural-model-1512@4x.jpg 1512w
                  "
                  type="image/jpeg"
                />

                <!-- 768px - 231x158 -->
                <source
                  media="(min-width: 768px)"
                  sizes="(min-width: 768px) 231px, 30vw"
                  srcset="
                    ./images/main/more-photos/tablet/more-02/3d-printed-architectural-model-231.webp    231w,
                    ./images/main/more-photos/tablet/more-02/3d-printed-architectural-model-462@2x.webp 462w,
                    ./images/main/more-photos/tablet/more-02/3d-printed-architectural-model-693@3x.webp 693w,
                    ./images/main/more-photos/tablet/more-02/3d-printed-architectural-model-923@4x.webp 923w
                  "
                  type="image/webp"
                />

                <!-- 768px - 231x158 -->
                <source
                  media="(min-width: 768px)"
                  sizes="(min-width: 768px) 231px, 30vw"
                  srcset="
                    ./images/main/more-photos/tablet/more-02/3d-printed-architectural-model-231.jpg    231w,
                    ./images/main/more-photos/tablet/more-02/3d-printed-architectural-model-462@2x.jpg 462w,
                    ./images/main/more-photos/tablet/more-02/3d-printed-architectural-model-693@3x.jpg 693w,
                    ./images/main/more-photos/tablet/more-02/3d-printed-architectural-model-923@4x.jpg 923w
                  "
                  type="image/jpeg"
                />

                <!-- 320px - 280x193 -->
                <source
                  media="(max-width: 767px)"
                  sizes="(max-width: 767px) 280px, 100vw"
                  type="image/webp"
                  srcset="
                    ./images/main/more-photos/mobile/more-02/3d-printed-architectural-model-280.webp      280w,
                    ./images/main/more-photos/mobile/more-02/3d-printed-architectural-model-560@2x.webp   560w,
                    ./images/main/more-photos/mobile/more-02/3d-printed-architectural-model-840@3x.webp   840w,
                    ./images/main/more-photos/mobile/more-02/3d-printed-architectural-model-1120@4x.webp 1120w
                  "
                />

                <!-- 2nd image - 02 sizes -->
                <img
                  class="photos-card__image image"
                  srcset="
                    ./images/main/more-photos/mobile/more-02/3d-printed-architectural-model-280.jpg      280w,
                    ./images/main/more-photos/mobile/more-02/3d-printed-architectural-model-560@2x.jpg   560w,
                    ./images/main/more-photos/mobile/more-02/3d-printed-architectural-model-840@3x.jpg   840w,
                    ./images/main/more-photos/mobile/more-02/3d-printed-architectural-model-1120@4x.jpg 1120w
                  "
                  data-photos-lazy
                  sizes="(min-width: 1440px) 378px, (min-width: 768px) 231px, 88vw"
                  loading="lazy"
                  alt="3D моделі виготовлені на 3D принтері"
                />
              </picture>
            </div>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <div class="photos-card__thumb">
              <!-- 03 214x260 | 130x158 | 280x340 -->
              <picture class="photos-card__picture">
                <!-- 1440px -->
                <source
                  media="(min-width: 1440px)"
                  srcset="./images/main/more-photos/desktop/more-03/wall-e-214.jpg"
                />

                <!-- 768px -->
                <!-- <source
                    media="(min-width: 768px)"
                    srcset="
                    "
                  /> -->

                <!-- 280px -->
                <source media="(max-width: 767px)" sizes="(max-width: 767px) 280px, 100vw" srcset />

                <!-- 3rd image - 03 sizes -->
                <img
                  class="photos-card__image image"
                  data-photos-lazy
                  sizes="(min-width: 1440px) 15vw, (min-width: 768px) 17vw, 88vw"
                  loading="lazy"
                  alt="3D моделі виготовлені на 3D принтері"
                />
              </picture>
            </div>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <div class="photos-card__thumb">
              <!-- 04 214x271 | 130x165 -->
              <picture class="photos-card__picture">
                <!-- 1440px -->
                <source
                  media="(min-width: 1440px)"
                  srcset="./images/main/more-photos/desktop/more-04/skull-214.jpg"
                />

                <!-- 768px -->
                <!-- <source
                    media="(min-width: 768px)"
                    srcset="
                    "
                  /> -->

                <!-- 280px -->
                <source media="(max-width: 767px)" sizes="(max-width: 767px) 280px, 100vw" srcset />

                <!-- 4th image - 04 sizes -->
                <img
                  class="photos-card__image image"
                  data-photos-lazy
                  sizes="(min-width: 1440px) 15vw, (min-width: 768px) 17vw, 88vw"
                  loading="lazy"
                  alt="3D моделі виготовлені на 3D принтері"
                />
              </picture>
            </div>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <div class="photos-card__thumb">
              <!-- 05 378x271 | 230x165 -->
              <picture class="photos-card__picture">
                <!-- 1440px -->
                <!-- <source
                    media="(min-width: 1440px)"
                    srcset="
                    "
                  /> -->

                <!-- 768px -->
                <!-- <source
                    media="(min-width: 768px)"
                    srcset="
                    "
                  /> -->

                <!-- 280px -->
                <source media="(max-width: 767px)" sizes="(max-width: 767px) 280px, 100vw" srcset />

                <!-- 5th image - 05 sizes -->
                <img
                  class="photos-card__image image"
                  data-photos-lazy
                  sizes="(min-width: 1440px) 26vw, (min-width: 768px) 30vw, 88vw"
                  loading="lazy"
                  alt="3D моделі виготовлені на 3D принтері"
                />
              </picture>
            </div>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <div class="photos-card__thumb">
              <!-- 06 406x271 | 247x165 -->
              <picture class="photos-card__picture">
                <!-- 1440px -->
                <!-- <source
                    media="(min-width: 1440px)"
                    srcset="
                    "
                  /> -->

                <!-- 768px -->
                <!-- <source
                    media="(min-width: 768px)"
                    srcset="
                    "
                  /> -->

                <!-- 280px -->
                <source media="(max-width: 767px)" srcset />

                <!-- 6th image - 06 sizes -->
                <img
                  class="photos-card__image image"
                  data-photos-lazy
                  sizes="(min-width: 1440px) 28vw, (min-width: 768px) 32vw, 88vw"
                  loading="lazy"
                  alt="3D моделі виготовлені на 3D принтері"
                />
              </picture>
            </div>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <div class="photos-card__thumb">
              <!-- 07 406x203 | 247x123 -->
              <picture class="photos-card__picture">
                <!-- 1440px -->
                <!-- <source
                    media="(min-width: 1440px)"
                    srcset="
                    "
                  /> -->

                <!-- 768px -->
                <!-- <source
                    media="(min-width: 768px)"
                    srcset="
                    "
                  /> -->

                <!-- 280px -->
                <source media="(max-width: 767px)" sizes="(max-width: 767px) 280px, 100vw" srcset />

                <!-- 7th image - 07 sizes -->
                <img
                  class="photos-card__image image"
                  data-photos-lazy
                  sizes="(min-width: 1440px) 28vw, (min-width: 768px) 32vw, 88vw"
                  loading="lazy"
                  alt="3D моделі виготовлені на 3D принтері"
                />
              </picture>
            </div>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <div class="photos-card__thumb">
              <!-- 08 405x203 | 247x123 -->
              <picture class="photos-card__picture">
                <!-- 1440px -->
                <!-- <source
                    media="(min-width: 1440px)"
                    srcset="
                    "
                  /> -->

                <!-- 768px -->
                <!-- <source
                    media="(min-width: 768px)"
                    srcset="
                    "
                  /> -->

                <!-- 280px -->
                <source media="(max-width: 767px)" sizes="(max-width: 767px) 280px, 100vw" srcset />

                <!-- 8th image - 08 sizes -->
                <img
                  class="photos-card__image image"
                  data-photos-lazy
                  sizes="(min-width: 1440px) 28vw, (min-width: 768px) 32vw, 88vw"
                  loading="lazy"
                  alt="3D моделі виготовлені на 3D принтері"
                />
              </picture>
            </div>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <div class="photos-card__thumb">
              <!-- 09 187x203 | 114x123 -->
              <picture class="photos-card__picture">
                <!--    1102px
                  <source
                    media="(min-width: 1440px)"
                    srcset="

                    "
                  />
                  -->

                <!-- 1440px -->
                <!-- <source
                    media="(min-width: 1440px)"
                    srcset="

                    "
                  /> -->

                <!-- 768px -->
                <!-- <source
                    media="(min-width: 768px)"
                    srcset="

                    "
                  /> -->

                <!-- 280px -->
                <source media="(max-width: 767px)" sizes="(max-width: 767px) 280px, 100vw" srcset />

                <!-- 9th image - 09 sizes -->
                <img
                  class="photos-card__image image"
                  data-photos-lazy
                  sizes="(min-width: 1440px) 13vw, (min-width: 768px) 15vw, 88vw"
                  loading="lazy"
                  alt="3D моделі виготовлені на 3D принтері"
                />
              </picture>
            </div>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <div class="photos-card__thumb">
              <!-- 10 214x250 | 130x158 -->
              <picture class="photos-card__picture">
                <!--    1102px
                  <source
                    media="(min-width: 1440px)"
                    srcset="

                    "
                  />
                  -->

                <!-- 1440px -->
                <!-- <source
                    media="(min-width: 1440px)"
                    srcset="

                    "
                  /> -->

                <!-- 768px -->
                <!-- <source
                    media="(min-width: 768px)"
                    srcset="

                    "
                  /> -->

                <!-- 280px -->
                <source media="(max-width: 767px)" sizes="(max-width: 767px) 280px, 100vw" srcset />

                <!-- 10th image - 10 sizes -->
                <img
                  class="photos-card__image image"
                  data-photos-lazy
                  sizes="(min-width: 1440px) 15vw, (min-width: 768px) 17vw, 88vw"
                  loading="lazy"
                  alt="3D моделі виготовлені на 3D принтері"
                />
              </picture>
            </div>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <div class="photos-card__thumb">
              <!-- 11 378x260 | 230x158 -->
              <picture class="photos-card__picture">
                <!--    1102px
                  <source
                    media="(min-width: 1440px)"
                    srcset="

                    "
                  />
                  -->

                <!-- 1440px -->
                <!-- <source
                    media="(min-width: 1440px)"
                    srcset="

                    "
                  /> -->

                <!-- 768px -->
                <!-- <source
                    media="(min-width: 768px)"
                    srcset="

                    "
                  /> -->

                <!-- 280px -->
                <source media="(max-width: 767px)" sizes="(max-width: 767px) 280px, 100vw" srcset />

                <!-- 11th image - 11 sizes -->
                <img
                  class="photos-card__image image"
                  data-photos-lazy
                  sizes="(min-width: 1440px) 26vw, (min-width: 768px) 30vw, 88vw"
                  loading="lazy"
                  alt="3D моделі виготовлені на 3D принтері"
                />
              </picture>
            </div>
          </div>
        </li>

        <li class="more-photos__item">
          <div class="photos-card">
            <div class="photos-card__thumb">
              <!-- 12 406x260 | 247x158 -->
              <picture class="photos-card__picture">
                <!--    1102px
                  <source
                    media="(min-width: 1440px)"
                    srcset="

                    "
                  />
                  -->

                <!-- 1440px -->
                <!-- <source
                    media="(min-width: 1440px)"
                    srcset="

                    "
                  /> -->

                <!-- 768px -->
                <!-- <source
                    media="(min-width: 768px)"
                    srcset="

                    "
                  /> -->

                <!-- 280px -->
                <source media="(max-width: 767px)" sizes="(max-width: 767px) 280px, 100vw" srcset />

                <!-- 12th image - 12 sizes -->
                <img
                  class="photos-card__image image"
                  data-photos-lazy
                  sizes="(min-width: 1440px) 28vw, (min-width: 768px) 32vw, 88vw"
                  loading="lazy"
                  alt="3D моделі виготовлені на 3D принтері"
                />
              </picture>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="more-photos__svg-wrapper">
      <svg class="more-photos__icon-loader system-uicons-loader svg" width="45" height="45">
        <use
          class="more-photos__icon-loader-use"
          xlink:href="./images/svg-sprite.svg#loading-icon"
        ></use>
      </svg>
    </div>
  </div>
</section>
