<div class="white-spots-background">
  <div class="rectangle-2"></div>
  <div class="group-19"></div>
  <div class="group-9"></div>
  <div class="rectangle-45"></div>
  <div class="rectangle-65"></div>
  <div class="rectangle-5"></div>
  <div class="rectangle-67"></div>
  <div class="rectangle-60"></div>
  <div class="rectangle-68"></div>
  <div class="rectangle-19"></div>
  <div class="rectangle-66"></div>
  <div class="rectangle-48"></div>
  <div class="rectangle-58"></div>
  <div class="rectangle-63"></div>
  <div class="rectangle-69"></div>
  <div class="rectangle-46"></div>
  <div class="rectangle-64"></div>
  <div class="rectangle-10"></div>
  <div class="rectangle-61"></div>
  <div class="rectangle-62"></div>
  <div class="rectangle-3"></div>
  <div class="rectangle-12"></div>
  <div class="group-10"></div>
</div>
