<section class="contact contact__section">
  <div class="container contact__container">
    <div class="contact__info">
      <div class="contact__wrap">
        <h2 class="title contact__title">телефони</h2>
        <ul class="contact__list list">
          <li class="contact__item">
            <a href="tel:+380957384551" class="contact__link"> +38 (095) -73-84-551</a>
          </li>
          <li class="contact__item">
            <a href="tel:+380980025235" class="contact__link"> +38 (098) -00-25-235</a>
          </li>
        </ul>
      </div>

      <div class="contact__wrap">
        <h2 class="title contact__title contact__title_firstleter">Email</h2>
        <a href="mailto:3dfreedom.info@gmail.com" class="contact__link">3dfreedom.info@gmail.com</a>
      </div>

      <div class="contact__wrap">
        <h2 class="title contact__title">Робочий час</h2>
        <ul class="contact__list list">
          <li class="contact__item">
            Пн-пт:
            <span class="contact__graphic-time"> з 8:00 до 19:00</span>
          </li>
          <li class="contact__item">
            Сб, Нд:
            <span class="contact__graphic-time"> з 10:00 до 17:00</span>
          </li>
        </ul>
      </div>
    </div>

    <picture class="contact__gallery-wrap">
      <source
        media="(min-width: 1444px)"
        srcset="
          ../../src/images/take-order/gallery.webp    1x,
          ../../src/images/take-order/gallery@2x.webp 2x
        "
        sizes="image/webp"
      />
      <source
        media="(min-width: 1444px)"
        srcset="
          ../../src/images/take-order/gallery.png    1x,
          ../../src/images/take-order/gallery@2x.png 2x
        "
        sizes="image/jpeg"
      />
      <img src="#" alt="фото цветка" class="contact__img" />
    </picture>
  </div>
</section>
