<section class="to to__section">
  <div class="container to__conteiner">
    <h1 class="title-v1 to__title">Зробити замовлення</h1>
    <div class="to__wrap">
      <div class="to__hero"></div>
      <div class="to__content">
        <div class="to__text-conteiner">
          <p class="to__text">
            На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.
          </p>
          <p class="to__text">
            Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі
            ваші запитання.
          </p>
        </div>
        <div class="to__img-container">
          <div class="to__for-img to__for-img_left"></div>
          <div class="to__for-img to__for-img_center"></div>
          <div class="to__for-img to__for-img_right"></div>
        </div>
      </div>
    </div>
  </div>
</section>
