<section class="to to__section">
  <div class="container">
    <h1 class="title to__title">Зробити замовлення</h1>
    <div class="to__wrap">
      <div class="to__hero"></div>
      <div class="to__content">
        <div class="to__text-conteiner">
          <p class="to__text">
            На цій сторінці ви можете зробити замовлення заповнивши форму і ми зв'яжемося з вами.
          </p>
          <p class="to__text">
            Наші фахівці допоможуть підібрати оптимальні для вас параметри і дадуть відповідь на всі
            ваші запитання.
          </p>
        </div>
        <div class="to__img-container">
          <picture>
            <!-- <source media="(min-width:1444px)" srcset="#" type="image/webp" />
            <source media="(min-width:1444px)" srcset="#" type="image/jpeg" /> -->
            <img
              src="../../src/images/take-order/2.jpg"
              alt="машинка"
              class="to__img to__img_tr-br"
            />
          </picture>
          <picture>
            <!-- <source media="(min-width:1444px)" srcset="#" type="image/webp" />
            <source media="(min-width:1444px)" srcset="#" type="image/jpeg" /> -->
            <img
              src="../../src/images/take-order/2.jpg"
              alt="свечи"
              class="to__img to__img_br-tl"
            />
          </picture>
          <picture>
            <!-- <source media="(min-width:1444px)" srcset="#" type="image/webp" />
            <source media="(min-width:1444px)" srcset="#" type="image/jpeg" /> -->
            <img src="../../src/images/take-order/2.jpg" alt="лапма" class="to__img to__img_br" />
          </picture>
        </div>
      </div>
    </div>
  </div>
</section>
