<section class="of of__section">
  <h2 class="title-v1 of__title">ЗВ’ЯЖІТЬСЯ З НАМИ</h2>
  <form action="" class="of__form">
    <div class="of__wrap-input">
      <input
        type="text"
        id="user_name"
        class="of__input"
        name="user_name"
        required
        minlength="2"
        pattern="^[A-Za-zА-Яа-яЁё]+$"
        title="Приклад: Олександра"
      />
      <label for="user_name" class="of__label-input">Ім’я</label>
    </div>

    <div class="of__wrap-input">
      <input type="email" id="user_email" class="of__input" name="user_email" required />
      <label for="user_emeil" class="of__label-input">Email</label>
    </div>

    <div class="select">
      <div class="select__container">
        <div class="select__option">
          <input type="radio" name="plastic-PETE" id="plastic-PETE" class="select__radio" />
          <label class="select__label" for="plastic-PETE">ПЕТ</label>
        </div>

        <div class="select__option">
          <input type="radio" name="plastic-HDPE" id="plastic-HDPE" class="select__radio" />
          <label class="select__label" for="plastic-HDPE">ПНТ</label>
        </div>

        <div class="select__option">
          <input type="radio" name="plastic-PVC" id="plastic-PVC" class="select__radio" />
          <label class="select__label" for="plastic-PVC">ПВХ</label>
        </div>

        <div class="select__option">
          <input type="radio" name="plastic-other" id="plastic-other" class="select__radio" />
          <label class="select__label" for="plastic-other">інший</label>
        </div>
      </div>
      <div class="select__title">Види пластика</div>
    </div>

    <div class="select">
      <div class="select__container">
        <div class="select__option">
          <input type="radio" name="quality-300" id="quality-300" class="select__radio" />
          <label class="select__label" for="quality-300">300 мікрон</label>
        </div>

        <div class="select__option">
          <input type="radio" name="quality-200" id="quality-200" class="select__radio" />
          <label class="select__label" for="quality-200">200 мікрон</label>
        </div>

        <div class="select__option">
          <input type="radio" name="quality-100" id="quality-100" class="select__radio" />
          <label class="select__label" for="quality-100">100 мікрон</label>
        </div>

        <div class="select__option">
          <input type="radio" name="quality-help-in-choose" id="help" class="select__radio" />
          <label class="select__label" for="help">Труднощі у виборі - ми допоможемо</label>
        </div>
      </div>
      <div class="select__title">Якість друку</div>
    </div>

    <div class="select">
      <div class="select__container">
        <div class="select__option">
          <input type="radio" name="user-color-white" id="white" class="select__radio" />
          <label class="select__label" for="white">білий</label>
        </div>

        <div class="select__option">
          <input type="radio" name="user-color-black" id="black" class="select__radio" />
          <label class="select__label" for="black">чорний</label>
        </div>

        <div class="select__option">
          <input type="radio" name="user-color-blue" id="blue" class="select__radio" />
          <label class="select__label" for="blue">синій</label>
        </div>

        <div class="select__option">
          <input type="radio" name="user-color-other" id="other" class="select__radio" />
          <label class="select__label" for="other">інший</label>
        </div>
      </div>

      <div class="select__title">Колір</div>
    </div>

    <div class="of__wrap-comment">
      <label for="user_comment" class="of__label-comment">Повідомлення</label>
      <textarea
        name="user_comment"
        id="user_comment"
        class="of__comment"
        placeholder="Залишіть своє повідомлення"
      ></textarea>

      <p class="of__info">*Прикріпіть зображення/креслення/STL/Obj/CAD-модель</p>
    </div>

    <button type="submit" class="button of__button">ВІДПРАВИТИ</button>
  </form>
</section>
