.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;

  max-width: 320px;

  @media screen and (min-width: 320px) {
    max-width: 688px;
  }

  @media screen and (min-width: 768px) {
    max-width: 1102px;
  }
}
