.container {
  margin-left: auto;
  margin-right: auto;

  padding-left: 20px;
  padding-right: 20px;
  max-width: 320px;

  @include mq($mobile) {
    max-width: map-get($breakpoints, 'tablet-container');
  }

  @include mq($tablet, $pr: 60px, $pl: 60px) {
    max-width: map-get($breakpoints, 'desktop-container');
  }
}

// Экран                 Контейнер
// [0..319px]      | сам контейнер = 320px  | ( 280px + 20px падинги с каждой стороны)
// [320px..768px]  | сам контейнер = 688px  | ( 648px + 20px падинги с каждой стороны)
// [768px..1440px] | сам контейнер = 1102px | (1062px + 20px падинги с каждой стороны)
