@font-face {
  font-family: 'Caviar Dreams';
  src: url('./fonts/CaviarDreams.woff2'), url('./fonts/CaviarDreams.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Caviar Dreams';
  src: url('./fonts/CaviarDreams-Bold.woff2'), url('./fonts/CaviarDreams-Bold.woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/CeraPro-Regular.woff2'), url('./fonts/CeraPro-Regular.woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/CeraPro-light.woff2'), url('./fonts/CeraPro-light.woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/CeraPro-Medium.woff2'), url('./fonts/CeraPro-Medium.woff');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Cera Pro';
  src: url('./fonts/CeraPro-Bold.woff2'), url('./fonts/CeraPro-Bold.woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
