<section class="contact-us container">
  <h2 class="contact-us__title title-v2">зв'яжіться з нами</h2>
  <form class="contact-us__form">
    <div class="contact-us__wrapper">
      <label for="contact_user_name" class="contact-us__label">Ім'я</label>
      <input
        type="text"
        id="contact_user_name"
        class="contact-us__input"
        name="name"
        minlength="2"
        pattern="^[A-Za-zА-Яа-яЁё]+$"
        title="Приклад: Олександра"
        required
      />
    </div>

    <div class="contact-us__wrapper">
      <label for="contact_user_email" class="contact-us__label">Email</label>
      <input type="email" id="contact_user_email" class="contact-us__input" name="email" required />
    </div>

    <div class="comment-wrapper">
      <label for="contact_user_comment" class="label-comment">Повідомлення</label>
      <textarea
        id="contact_user_comment"
        name="user-comment"
        class="comment"
        placeholder="Залишіть своє повідомлення"
      ></textarea>
      <p class="input-info">*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</p>
    </div>

    <button type="submit" class="send-btn">відправити</button>
  </form>
</section>
