<section class="contacts-us contacts-us__section">
  <div class="contacts-us__info">
    <div class="contacts-us__wrap">
      <h3 class="title-v2 contacts-us__title">телефони</h3>
      <ul class="contacts-us__list">
        <li class="contacts-us__item">
          <a href="tel:+380957384551" class="contacts-us__link"> +38 (095) -73-84-551</a>
        </li>
        <li class="contact-us__item">
          <a href="tel:+380980025235" class="contacts-us__link"> +38 (098) -00-25-235</a>
        </li>
      </ul>
    </div>

    <div class="contacts-us__wrap">
      <h3 class="title-v2 contacts-us__title contacts-us__title_firstleter">Email</h3>
      <a href="mailto:3dfreedom.info@gmail.com" class="contacts-us__link"
        >3dfreedom.info@gmail.com</a
      >
    </div>

    <div class="contacts-us__wrap">
      <h3 class="title-v2 contacts-us__title">Робочий час</h3>
      <ul class="contacts-us__list">
        <li class="contacts-us__item">
          Пн-Пт:
          <span class="contacts-us__graphic-time"> з 8:00 до 19:00</span>
        </li>
        <li class="contacts-us__item">
          Сб, Нд:
          <span class="contacts-us__graphic-time"> з 10:00 до 17:00</span>
        </li>
      </ul>
    </div>
  </div>
</section>
