<!-- <section class="contacts__section container">
    <div class="contacts__wrapper">
        <div class="contacts-link">
            <h3 class="contacts-title title-v2">телефони</h3>
            <ul class="contacts__list">
                <li class="contacts__item">
                    <a class="phone" href="tel:+380980025235">+38 (098) -00-25-235</a>
                </li>
                <li class="contacts__item">
                    <a class="phone" href="tel:+380957384551">+38 (095) -73-84-551</a>
                </li>
            </ul>                       
        </div>
        
        <div class="contacts-link">
            <h3 class="contacts-title letter title-v2">email</h3>
            <a class="mail" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
        </div>
        
        <div class="contacts-link">
            <h3 class="contacts-title title-v2">робочий час</h3>
            <ul class="contacts-schedule">
                <li class="contacts-schedule__list workday">
                    Пн-пт:
                    <span class="contacts-schedule__time"> з 8:00 до 19:00</span>
                </li>
                <li class="contacts-schedule__list">
                    Сб, Нд:
                    <span class="contacts-schedule__time"> з 10:00 до 17:00</span>
                </li>
            </ul>
        </div>
    </div>

</section> -->
