<section class="contacts-section container">
    <div class="contacts-section-wrapper">
        <div class="contacts-tel">
            <h2 class="contacts-tel-tittle title-v2">телефони</h2>
            <a class="phone" href="tel:+380980025235">+38 (098) -00-25-235</a><br>
            <a class="phone" href="tel:+380957384551">+38 (095) -73-84-551</a>
        </div>
        
        <div class="contacts-email">
            <h2 class="contacts-email-tittle title-v2">email</h2>
            <a class="mail" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
        </div>
        
        <div class="contacts-schedule">
            <h2 class="contacts-schedule-tittle title-v2">робочий час</h2>
            <p>Пн-пт: <br>з 8:00 до 19:00</p>
            <p>Сб, Нд: <br>з 10:00 до 17:00</p>
        </div>
    </div>

</section>