<section class="contact-us container">
    <h2 class="contact-us__title title-v2">зв'яжіться з нами</h2>
    <form class="contact-form">
        <label class="label">
            Ім'я
            <input type="text" class="label__input" name="name" minlength="2" required>
        </label>

        <label class="label">
            E-mail
            <input type="email" class="label__input" name="email" required>
        </label>

        <label class="label">
            Повідомлення
            <textarea name="user-comment" class="label__comment" placeholder="Залишіть своє повідомлення"></textarea>
            <input type="file" id="file" name="file">
        </label>   
        
        <p class="input-info">*Прикріпіть зображення / креслення / STL / Obj / CAD-модель</p>
        
        <button class="send-btn" type="submit">відправити</button>
    </form>
</section>