<section class="contacts">
  <div class="contact-hero__container container">
    <h1 class="contacts-hero__title title-v1">контакти</h1>
    <div class="contacts__wrapper">
      <div class="contacts__video">
        <iframe
          class="video"
          src="https://www.youtube.com/embed/-JgSbRxUnKA"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        >
        </iframe>
      </div>
      <div class="contact__text">
        <p class="contacts__text-block">
          Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим
          процесом не на десяток хвилин.
        </p>
        <p class="contacts__text-block">
          Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D
          друку і просто помилуватися красою цього процесу.
        </p>
        <p class="contacts__text-block">Приємного перегляду!</p>
        <img class="emoji" src="./../images/emoji.png" alt="подмигивающий смайлик" />
      </div>
    </div>
  </div>
</section>
