<section class="contacts container">
    <h1 class="contacts__title">контакти</h1>
    <div>
        <iframe class="contacts__video" src="https://www.youtube.com/embed/-JgSbRxUnKA" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    </div>
    <div>
        <p class="contacts__text">Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим процесом
            не на десяток хвилин.</p>
        <p class="contacts__text">Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D друку і
            просто помилуватися
            красою цього процесу.</p>
        <p class="contacts__text">Приємного перегляду!</p>
        <span class="contacts__emoji">&#x1F609;</span>
    </div> 
</section>
