<section class="contacts-hero container">
    <h1 class="contacts-hero__title title-v1">контакти</h1>
    <div class="contacts-wrapper">
        <div class="video">
            <iframe class="contacts__video" src="https://www.youtube.com/embed/-JgSbRxUnKA" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
        </div>
        <div class="text-wrapper">
            <p class="contacts__text">Людина уперше побачивши процес 3D друку може легко захопитися спостереженням за цим
                процесом
                не на десяток хвилин.</p>
            <p class="contacts__text">Наша команда створює timelapse відео що б ви могли краще ознайомитися з технологією 3D
                друку і
                просто помилуватися
                красою цього процесу.</p>
            <p>Приємного перегляду!</p>
            <span class="contacts__emoji"></span>
        </div>
    </div>
</section>
