// "Мобильный оверлей - скрыт от всех (и скрин-ридеров) до нажатия на кнопку-бургер"
// "Бекдроп и Модальное окно скрыто от всех (и скрин-ридеров) до нажатия на кнопку-героя"
.is-hidden {
  pointer-events: none; // Need Не выделяется мышкой. Контент видно, выделяется <tab>ом. For cross-browser no-click.
  visibility: hidden; // Need НЕ ДОСТУПЕН ДЛЯ ЧИТАЛОК. Не выделяется ни мышкой, ни <tab>. Контент прозрачный.
  opacity: 0;
}
