// "Мобильный оверлей - скрыт от всех (и скрин-ридеров) до нажатия на кнопку-бургер"
// "Бекдроп галереи и Модальное окно скрыто от всех (и скрин-ридеров) до нажатия на фото в галереи "Більше Фото"
.is-hidden {
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}
