:root {
  --main-font: 'Cera Pro', sans-serif;
  --secondary-font: 'Caviar Dreams', sans-serif;
  --accent-color: #487996;
  --second-accent-color: #008cef;
  --main-color: #ffffff;
  --secondary-color: #f5f5fa;
  --third-color: #2b2b2b;

  // --first-bp: 321px;
  // --second-bp: 769px;
  // --third-bp: 1444px;
}

$first-bp: 321px;
$second-bp: 769px;
$third-bp: 1444px;
