// ------------------------------------------------------
/* || --------------- START 'ПЕРЕМЕННЫЕ' ---------------- */
// ------------------------------------------------------
:root {
  --main-font: 'Cera Pro', sans-serif;
  --secondary-font: 'Caviar Dreams', sans-serif;
  --accent-color: #487996;
  --second-accent-color: #008cef;
  --main-color: #ffffff;
  --secondary-color: #f5f5fa;
  --third-color: #2b2b2b;

  --gap: 32px;
  --gap-t-v: 19px;
  --gap-t-h: 14px; //  tablet horizontal. Mockup gap = 19.53px. Actual pictures with gap = +5px more than mockup.
  /* || ---------------- START 'АНИМАЦИЯ' ----------------- */
  --time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  /* || ----------------- END 'АНИМАЦИЯ' ------------------ */
}

$elc: #fff;

$first-bp: 320px;
$second-bp: 768px;
$third-bp: 1440px; /* Mockup: backdrop=1444px, page=1440px. */

$base-fz: 16px;
$base-fz-body: 16px;
$precision: (10 * 3);
// ------------------------------------------------------
/* || ---------------- END 'ПЕРЕМЕННЫЕ' ----------------- */
// ------------------------------------------------------

/* Полуавтоматический z-index - оказался не удобным, если мы используем медиа запросы. */
$z-index: ('.place-for-your-css-selector');

@mixin zi($i: 3) {
  $z-step: $i + 3;
  @each $index in $z-index {
    $z-step: $z-step + $i;

    #{$index} {
      z-index: $z-step;
    }
  }
}

// @include zi;
