<div class="bg-elements-container">
  <div class="element-3"></div>
  <div class="element-4"></div>
  <div class="element-5"></div>
  <div class="element-6"></div>
  <div class="element-7"></div>
  <div class="element-8"></div>
  <div class="element-9"></div>
  <div class="element-10"></div>
  <div class="element-11"></div>
  <div class="element-12"></div>
  <div class="element-13"></div>
  <div class="element-14"></div>
  <div class="element-15"></div>
  <div class="element-16"></div>
  <div class="element-17"></div>
  <div class="element-18"></div>
  <div class="element-19"></div>
  <div class="element-20"></div>
  <div class="element-20-1"></div>

  <!-- картинки -->

  <div class="element-21"></div>
  <div class="element-22"></div>
  <div class="element-23"></div>
  <div class="element-24"></div>
  <div class="element-25"></div>
</div>
