<div class="container">
    <div class="section">
        <a class="footer__logo" href="">
            <img src="" alt="">
        </a>

        <nav class="footer-nav">
            <ul class="footer-nav__list">
                <li class="footer-nav__list-item">
                    <a class="footer-nav__link" href="#">Головна</a>
                </li>
                <li class="footer-nav__list-item">
                    <a class="footer-nav__link" href="#">3D Моделювання</a>
                </li>
                <li class="footer-nav__list-item">
                    <a class="footer-nav__link" href="#">3D Сканування</a>
                </li>
                <li class="footer-nav__list-item">
                    <a class="footer-nav__link" href="#">3D Друк</a>
                </li>
                <li class="footer-nav__list-item">
                    <a class="footer-nav__link" href="#">Замовити</a>
                </li>
                <li class="footer-nav__list-item">
                    <a class="footer-nav__link" href="#">Контакти</a>
                </li>
            </ul>
        </nav>
        <div class="social-list-wrapper">
            <ul class="social-list">
                <li class="social-list__item">
                    <a href="#" class="social-list__link">Instagram</a>
                </li>
                <li class="social-list__item">
                    <a href="#" class="social-list__link">YouTube</a>
                </li>
                <li class="social-list__item">
                    <a href="#" class="social-list__link">Facebook</a>
                </li>
            </ul>
        </div>
        <address class="footer-contacts">
            <ul class="footer-contacts__list">
                <li class="footer-contacts__list-item">
                    <p class="footer-contacts__list-desc">Email</p>
                    <a class="footer-contacts__link" href="mailto:3dfreedom.info@gmail.com">3dfreedom.info@gmail.com</a>
                </li>
                <li class="footer-contacts__list-item">
                    <p class="footer-contacts__list-desc">Телефони</p>
                    <a class="footer-contacts__link" href="tel:+380936432288">+38 (093) 643 22 88</a>
                    <a class="footer-contacts__link" href="tel:+380503454423">+38 (050) 345 44 23</a>
                </li>
            </ul>
        </address>
    </div>
</div>