<!--- MENU FOR MOBILE/TABLET -->
<section class="backdrop">
    <ul class="menu-nav">
        <li class="menu-nav__item">
            <a class="menu-nav__link is-current" href="#">Головна</a>
        </li>
        <li class="menu-nav__item">
            <a class="menu-nav__link" href="#">Послуги</a>
        </li>
        <li class="menu-nav__item menu-nav__item-decoration">
            <a class="menu-nav__link" href="./partials/modeling-page.html">3D Моделювання</a>
        </li>
        <li class="menu-nav__item menu-nav__item-decoration">
            <a class="menu-nav__link" href="./partials/scanning-page.html">3D Сканування</a>
        </li>
        <li class="menu-nav__item menu-nav__item-decoration">   
            <a class="menu-nav__link" href="./partials/printing-page.html">3D Друк</a>
        </li>
        <li class="menu-nav__item">
            <a class="menu-nav__link" href="./partials/take-order-page.html">Замовити</a>
        </li>
        <li class="menu-nav__item">
            <a class="menu-nav__link" href="./partials/contacts-page.html">Контакти</a>
        </li>
    </ul>
</section>