.title-modeling {
    margin-bottom: 16px;
}
.text-modeling:not(:last-child) {
    margin-bottom: 16px;
}

.subtitle-modeling{
    margin-bottom: 16px;
}

.item-modeling {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
        &::before{
            margin-right: 10px;
            display: inline-block;
            content: "";
            width: 7px;
            height: 7px;
            background: var(--accent-color);
            border-radius: 3px 0px;
        }
}

.item-modeling:not(:last-child) {
    margin-bottom: 16px;
}
.item-modeling {
    @extend %list;
}

.container-item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom -50px right 0;
    background-image: url(../images/main/more-photos/mobile/modeling-pages/modeling-280.jpg);
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-device-pixel-ratio: 2dppx) {
        background-image: url(../images/main/more-photos/mobile/modeling-pages/modeling-280@2x.jpg)
        }
            
    

}

