.title-modeling {
    margin-bottom: 16px;
}
.text-modeling:not(:last-child) {
    margin-bottom: 16px;
}

.subtitle-modeling{
    margin-bottom: 16px;
}

.item-modeling {
    display: flex;
    align-items: center;
        &::before{
            margin-right: 10px;
            display: inline-block;
            content: "";
            width: 7px;
            height: 7px;
            background: var(--accent-color);
            border-radius: 3px 0px;
        }
        &:not(:last-child) {
            margin-bottom: 16px;
        }   
        
}

.item-modeling {
    @extend %list;
}

.container-item {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 0 right 0;
    @media screen and (max-width: 320px) {
        
        background-image: url(../images/main/more-photos/mobile/modeling-pages/modeling-280.jpg);
             @media screen and (min-device-pixel-ratio: 2),
                    screen and (min-device-pixel-ratio: 2dppx) {
                    background-image: url(../images/main/more-photos/mobile/modeling-pages/modeling-280@2x.jpg);
                    }
    }

    @media screen and (min-width: 321px) and (max-width: 769px) {             
         background-position: bottom 0 right 0px;
         background-image: url(../images/main/more-photos/tablet/modeling-pages/modeling-246.jpg);
                @media screen and (min-device-pixel-ratio: 2),
                       screen and (min-device-pixel-ratio: 2dppx) {
                       background-image: url(../images/main/more-photos/tablet/modeling-pages/modeling-246@2x.jpg);
                }   
    }

    
    /*.container-item {
        @media screen and (min-width: 321px) and (max-width: 768px) {
         max-height: 400px;
         max-width: 280px;
         background-position: bottom 0 right 0;
         background-image: url(../images/main/more-photos/tablet/modeling-pages/modeling-246.jpg);
         @media screen and (min-device-pixel-ratio: 2),
         screen and (min-device-pixel-ratio: 2dppx) {
         background-image: url(../images/main/more-photos/tablet/modeling-pages/modeling-246@2x.jpg);
        }   
            }
        }
      @media screen and (min-width: 321px) and (max-width: 768px) {
        max-height: 164px;
        max-width: 280px;
        background-image: url(../images/main/more-photos/tablet/modeling-pages/modeling-246.jpg);
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-device-pixel-ratio: 2dppx) {
        background-image: url(../images/main/more-photos/tablet/modeling-pages/modeling-246@2x.jpg);
        }
    }
    @media screen and (min-width: 769px) {
        max-height: 164px;
        max-width: 280px;
        background-position: bottom 0 right 0;
        background-image: url(../images/main/more-photos/tablet/modeling-pages/modeling-246.jpg);
        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-device-pixel-ratio: 2dppx) {
        background-image: url(../images/main/more-photos/tablet/modeling-pages/modeling-246@2x.jpg);
        }
    */ 
}
