.title-modeling {
    margin-bottom: 16px;
}
.text-modeling:not(:last-child) {
    margin-bottom: 16px;
}
.subtitle-modeling {
    margin-bottom: 16px;
}

.item-modeling:not(:last-child) {
    margin-bottom: 16px;
}