.we-create-model {
  padding-bottom: 76px;
}

.model-examples {
  list-style: none;

  margin-left: -10px;
  margin-top: -16px;
  margin-bottom: 52px;

  display: flex;
  flex-wrap: wrap;
  // justify-content: left;

  @media screen and (min-width: 465px) {
    margin-left: -12px;
  }

  @include mq($desktop) {
    margin-left: -20px;
  }
}

.model-examples__item {
  margin-left: 10px;
  margin-top: 16px;

  @media screen and (min-width: 465px) {
    margin-left: 12px;
  }

  @include mq($desktop) {
    margin-left: 20px;
  }
}

.model-examples__img {
  display: inline-block;
}

.we-create-model__container {
  text-align: center;
}

.we-create-model__title {
  margin-bottom: 16px;
  max-width: 71%;
  text-align: left;

  @include mq($tablet) {
    margin-bottom: 24px;
  }

  @include mq($desktop) {
    margin-bottom: 52px;
  }
}

.content-wrraper {
  margin-bottom: 52px;
  margin-left: auto;
  margin-right: auto;

  max-width: 280px;

  @media screen and (min-width: 465px) {
    max-width: 318px;
  }

  @media screen and (min-width: 636px) {
    max-width: 483px;
  }

  @media screen and (min-width: 688px) {
    max-width: 648px;
  }

  @media screen and (min-width: 1440px) {
    max-width: initial;
    margin-bottom: 100px;
  }
}
