.process__section {padding-bottom: 76px;
    padding-top: 0;

    @media screen and (min-width: 1440px) {
    padding-bottom: 100px;
    }
}

.process__item {display: flex;
    flex-direction: column;
    margin-bottom: 52px;
    &:last-child {margin-bottom: 0px;}

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        &:not(:last-child) {margin-bottom: 76px;}
    
    @media screen and (min-width: 1448px) {
        margin-bottom: 100px;
    }
    }
}

.process__image {
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
    border-radius: 50px 0px;
    box-shadow: (20px 20px 80px rgba(0, 0, 0, 0.15));
    margin-bottom: 16px;
    @media screen and (min-width: 768px) {
        width: 247px;
        margin-bottom: 0;
    margin-right: 20px;}


    @media screen and (min-width: 1440px) {width: 250px;
    height: 345px;
    margin-right: 78px;}
}

.process__text-container {margin-bottom: 24px;
    @media screen and (min-width: 768px) {
        width: 381px;
        margin-bottom: 52px;
    }
    @media screen and (min-width: 1440px) {
        width: 734px;
    }
}

.process__text-title {@include font(16px, 700, 1.25, 0.01em);
    text-transform: uppercase;
    color: var(--accent-color);

    @media screen and (min-width: 1440px) {
        @include font(18px, 700, 1.25, 0.01em)
    }
}
    .process__text {
        
        @include font(16px, 300, 1.25, 0.01em);
        color: #2B2B2B;
        &:not(:last-child) {margin-bottom: 16px;}

        @media screen and (min-width: 1440px) {
            @include font(18px, 300, 1.25, 0.01em);
            &:not(:last-child) {margin-bottom: 24px;}
        }
    }
