<!DOCTYPE html>
<html lang="en" data-no-scroll>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Контакти</title>

    <link rel="icon" type="image/ico" href="../favicon.ico" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body data-no-scroll>
    <!-- хедер -->
    <include src="./partials/components/header.html"></include>

    <main>
      <include src="./partials/6-contacts-page/hero.html"></include>
      <section class="contact-form-contact">
        <div class="container contact-form-contact__container">
          <h2 class="contact-form-contact__title visually-hidden">Форма зв`язку</h2>
          <include src="./partials/6-contacts-page/contact-form.html"></include>
          <include src="./partials/6-contacts-page/contacts.html"></include>
        </div>
      </section>
    </main>
    <!-- футер -->
    <include src="./partials/components/footer.html"></include>

    <include src="./partials/components/bg-elements.html"></include>

    <!-- <include src="./partials/6-contacts-page/cp-white-spots.html"></include> -->

    <script src="../js/header-bg.js"></script>
    <script src="../js/contacts-page.js"></script>
  </body>
</html>
