<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css"
      integrity="sha512-wpPYUAdjBVSE4KJnH1VR1HeZfpl1ub8YT/NKx4PuQ5NmX2tKuGu6U/JRp5y+Y8XG2tV+wKQpNHVUX03MfMFn9Q=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <!-- хедер -->
    <include src="./partials/components/header.html"></include>

    <include src="./partials/5-take-order-page/hero.html"></include>
    <section class="of-contact">
      <div class="container of-contact__container">
        <include src="./partials/5-take-order-page/order-form.html"></include>
        <include src="./partials/5-take-order-page/contacts.html"></include>
      </div>
    </section>

    <!-- футер -->
    <include src="./partials/components/footer.html"></include>
    <include src="./partials/5-take-order-page/to-white-spots.html"></include>

    <script src="../js/take-order-page.js"></script>
  </body>
</html>
