.hero {
  @media screen and (min-width: 320px) {
    padding-top: 32px;
    padding-bottom: 52px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 35px;
  }
}

.hero__section {
  padding-top: 34px;
  padding-bottom: 52px;

  @media screen and (min-width: 768px) {
    padding-top: 44px;
    padding-bottom: 52px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 12px;
    padding-bottom: 100px;
  }
}

.hero__title {
  font-family: var(--secondary-font), sans-serif;
  @include font(18px, 400, 1.16, 0);
  text-align: center;
  color: var(--third-color);

  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    margin-bottom: 64px;
  }
}

.hero__list {
  display: flex;
  justify-content: space-between;

  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    justify-content: center;
    margin-bottom: 85px;
  }
}

.hero__item {
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.hero__image-1 {
  border-radius: 0px 35px 0px 0px;

  @media screen and (min-width: 768px) {
    width: 113px;
  }
}

.hero__image-2 {
  border-radius: 100px;

  @media screen and (min-width: 768px) {
    width: 113px;
  }
}

.hero__image-3 {
  border-radius: 0px 25px;

  @media screen and (min-width: 768px) {
    width: 113px;
  }
}

.hero__subtitle {
  font-family: var(--secondary-font), sans-serif;
  @include font(16px, 400, 1.18, 0);
  text-align: center;
  color: var(--third-color);
}

.bg-shadow-1 {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 71px;
    left: 117px;
  }
}

.bg-shadow-2 {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 74px;
    right: 47px;
  }
}

.bg-shadow-3 {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 356px;
    left: 47px;
  }
}

.bg-shadow-4 {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 295px;
    right: 47px;
  }
}

.bg-shadow-1 .bg-shadow-img-1 {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 72px;
}

.bg-shadow-img-2 {
  border-radius: 0px 0px 72px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bg-shadow-img-3 {
  border-radius: 72px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
}

.bg-shadow-img-4 {
  border-radius: 72px 72px 0px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.25);
}

// .bg-shadow-button {
//   position: absolute;
//   top: 295px;
//   left: 118px;

//   width: 71px;
//   height: 74px;
//   fill: var(--second-accent-color);

//   background: #ffffff;
//   box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
//   border-radius: 0px 0px 35px 0px;
// }

.bg-shadow-button__link {
  display: none;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 295px;
    left: 118px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 71px;
    height: 74px;
    fill: var(--second-accent-color);

    background: #ffffff;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
    border-radius: 0px 0px 35px 0px;
  }
}

.bg-shadow-button__icon {
  width: 16px;
  height: 16px;
}
