/* html structure reference
<section class="more-photos section">
  <div class="more-photos__container">
    <div class="more-photos__wrapper">
      <h2 class="title-v1">БІЛЬШЕ ФОТО</h2>

      <ul class="grid-wrapper more-photos-list more-photos__list">
        <li class="more-photos__item">
          <div class="photos-card">
            <a class="photos-card__link links"
*/

/* container size reference
.container {
  @media screen and (min-width: 320px) { width: 320px; }
  @media screen and (min-width: 768px) { width: 688px; }
  @media screen and (min-width: 1444px){ width: 1102px;}
} */

/* .more-photos__container { } */

// .more-photos-wrapper { }

.more-photos__title {
  margin-bottom: 16px;
  @include mq($tablet, $mb: 32px);
  @include mq($desktop, $mb: 52px);
}

// .more-photos-gallery { }
// .more-photos__list { }

/* more-photos sizes: desktop
406x260 378x260 214x260
214x271 378x271 406x271
406x203 405x203	187x203
214x250 378x260 406x260 */

/*
grid-auto-columns: minmax(60px, auto)
grid-template-columns: repeat(3, minmax(0,1fr));
align-items: start; */

.more-photos-list {
  /* multiple track-size values */

  @extend %list;

  outline: 1px solid red;
  @include mq($mobile) {
    display: grid;
    gap: var(--gap);

    grid-auto-columns: auto auto auto;
    grid-template-columns: auto auto auto;

    /*
    grid-auto-columns: auto auto auto;
grid-auto-columns: 100px 150px 390px;
grid-auto-columns: 10% 33.3%;
grid-auto-columns: 0.5fr 3fr 1fr;
grid-auto-columns: minmax(100px, auto) minmax(max-content, 2fr) minmax(20%, 80vmax);

 */
  }
}

/* photos */
.more-photos__item {
  outline: 1px solid gold;
  @include mq($end: $mobile, $mb: var(--gap));
}

.photos-card__image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}
