// html structure reference
//<section class="more-photos section">
//  <div class="more-photos__container">
//    <div class="container more-photos__wrapper">
//      <h2 class="title-v1">БІЛЬШЕ ФОТО</h2>
//
//      <ul class="more-photos__list">
//        <li class="more-photos__item">
//          <div class="photos-card">
//            <a class="photos-card__link links"
//              <div class="photos-card__thumb">
//                <picture class="photos-card__picture">
//                 <source type='webp'><source type='jpeg'>
//                 <img class="photos-card__image image transition"/>

.more-photos__container {
  @include paddings($pb: 50px); // 50px = mobile mb76 - section pb26
  @include mq($tablet, $desktop, $pb: 26px); // 26px = tablet mb52 - section pb26
  @include mq($desktop, $pb: 74px);
}

.more-photos__wrapper {
  margin: 0 auto 32px;

  @include mq($desktop, $mb: 56px);
}

.more-photos__title {
  margin-bottom: 16px;
  @include mq($tablet, $mb: 32px);
  @include mq($desktop, $mb: 52px);
}

.more-photos__list {
  position: relative;
  @extend %list;

  $margin-top-tablet: calc(-1 * var(--gap-t-v));
  $margin-left-tablet: calc(-1 * var(--gap-t-h));

  @include mq($tablet, $mt: $margin-top-tablet, $ml: $margin-left-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  // --gap: 32px;
  // --gap-t-v: 19px;
  // --gap-t-h: 14px;

  $margin-top-desktop: calc(-1 * var(--gap));
  $margin-left-desktop: $margin-top-desktop;

  @include mq($desktop, $mt: $margin-top-desktop, $ml: $margin-left-desktop);
}

// photos
.more-photos__item {
  cursor: pointer;

  &.is-hidden {
    @include mq($end: $tablet) {
      position: absolute;
      transform: translateX(210%);
    }

    @include mq($tablet) {
      visibility: visible;
      opacity: 1;
      pointer-events: initial;
    }
  }

  @include mq($tablet, $mt: var(--gap-t-v), $ml: var(--gap-t-h));
  @include mq($desktop, $mt: var(--gap), $ml: var(--gap));

  &:not(:last-child) {
    @include mq($end: $tablet, $mb: 16px);
  }

  transition-property: transform, opacity;
  @include animation;
}

// .photos-card__thumb {}
// .photos-card { }

.photos-card__image,
.gallery-card__image {
  object-fit: contain;
  margin: 0 auto;

  transition-property: transform, opacity;
  @include animation;
}

.gallery-card__image {
  width: 100%;
  max-height: 85vh;
}

.more-photos__btn {
  display: block;
  margin: 0 auto;
  background-color: transparent;
  border: none;
}

.system-uicons-loader {
  cursor: pointer;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus,
  &:active {
    transform: rotateZ(360deg);
    transition-duration: calc(var(--time) * 4);
  }
}

// Overlay - Rectangle 80
.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 210;
  contain: strict;

  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  transition-property: opacity, visibility;
  @include animation; // Fading is smooth

  background-color: rgba(#2b2b2b, 0.8);
  backdrop-filter: blur(4px);
  // Note: backdrop-filter has minimal browser support

  &.is-hidden {
    overflow: hidden;
  }

  &__container {
    position: relative;
    padding: 0;
    margin: auto;
    max-width: 906px;
  }
}
// ------------------------------------------------------
/* || ------------- START "МОДАЛЬНОЕ ОКНО" -------------- */
// ------------------------------------------------------

// Modal window
.gallery-modal {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background: rgba(var(--third-color), 0.8);
  border-radius: 4px;

  transition-property: transform, opacity;
  @include animation;

  @include mq('mobile-l') {
    &:hover,
    &:active {
      transform: scale(1.1);
    }
  }

  .gallery-overlay.is-hidden & {
    transform: scale(1.1);
  }

  &__list {
    @extend %list;
    display: flex;
  }

  &__item {
    left: 210%;

    &.is-hidden {
      position: absolute;
    }

    // &.current-slide {  }
    &.current-slide ~ &.is-hidden {
      left: unset;
      right: 210%;
    }

    &.current-slide + &.is-hidden {
      transform: translateX(100%);
    }
  }

  &__thumb {
    min-width: 236px;
    @include mq($tablet) {
      min-width: 554px;
    }
    @include mq($desktop) {
      min-width: 906px;
    }
  }

  //prettier-ignore
  &__btn-next,  &__btn-back {
    position: absolute;
    top: 50%;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    @include mq($end: $tablet, $pt: 21px, $pb: 21px) { min-width: 11px; min-height: 10px; }
    @include mq($tablet,       $pt: 42px, $pb: 42px) { min-width: 26px; min-height: 26px; }
    @include mq($desktop,      $pt: 60px, $pb: 60px) { min-width: 42px; min-height: 42px; }

    color: var(--main-color); background-color: transparent;
    border: none; border-radius: 50%;
    &:hover, &:focus { color: var(--second-accent-color); background-color: transparent; }
    &:focus { box-shadow: 0 0 3px 2px rgba(var(--third-color), 0.5); }

    transform: translateY(-50%);
  }

  &__btn-next {
    left: 100%;
    @include mq($end: $tablet, $pr: 22px, $pl: 9px);
    @include mq($tablet, $pr: 42px, $pl: 21px);
    @include mq($desktop, $pr: 80px, $pl: 36px);
  }

  &__btn-back {
    right: 100%;
    @include mq($end: $tablet, $pr: 9px, $pl: 22px);
    @include mq($tablet, $pr: 21px, $pl: 42px);
    @include mq($desktop, $pr: 36px, $pl: 70px);
  }

  // topcoat:next-light left
  //prettier-ignore
  &__next-icon, &__back-icon {
    @extend %svg;

    @include mq($end: $tablet) { min-width: 11px; min-height: 10px; }
    @include mq($tablet)       { min-width: 26px; min-height: 26px; }
    @include mq($desktop)      { min-width: 42px; min-height: 42px; }
    @include animation;
    fill: currentColor;
  }

  // topcoat:next-light right
  &__back-icon {
    transform: rotateZ(180deg);
  }
}

/*
image size for modal window
d w906x605
t w554x369
m w236x157
*/

// ------------------------------------------------------
/* || -------------- END "МОДАЛЬНОЕ ОКНО" --------------- */
// ------------------------------------------------------
