$team-title: null;

$team-title-map: (
  1: 'Orange Heart',
  2: 'Discovery',
  3: '',
  4: '',
  5: '',
  6: '',
  7: '',
  8: '',
  9: '',
  10: '',
);

@mixin team-title($team-title: null, $key: null) {
  @if $team-title == null {
    $team-title: map-get($team-title-map, $key);
  }
}

.team-title {
  @include team-title(null, random(10));
}

// html structure reference
//<section class="more-photos section">
//  <div class="more-photos__container">
//    <div class="container more-photos__wrapper">
//      <h2 class="title-v1">БІЛЬШЕ ФОТО</h2>
//
//      <ul class="more-photos__list">
//        <li class="more-photos__item">
//          <div class="photos-card">
//            <a class="photos-card__link links"
//              <div class="photos-card__thumb">
//                <picture class="photos-card__picture">
//                 <img class="photos-card__image image transition"/>

.more-photos__container {
  // 768px = container max-width = 688px;
  padding-bottom: 50px; // 50px =  mobile  mb76 - section pb26

  @include mq($tablet, $desktop, $pb: 26px) {
    // 26px =  tablet  mb52 - section pb26
  }

  @include mq($desktop, $pb: 74px);
}

.more-photos__wrapper {
  margin: 0 auto 32px;

  @include mq($desktop, $mb: 56px);
}

.more-photos__title {
  margin-bottom: 16px;
  @include mq($tablet, $mb: 32px);
  @include mq($desktop, $mb: 52px);
}

.more-photos__list {
  position: relative;
  @extend %list;

  $margin-top-tablet: calc(-1 * var(--gap-t-v));
  $margin-left-tablet: calc(-1 * var(--gap-t-h));

  @include mq($tablet, $mt: $margin-top-tablet, $ml: $margin-left-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  // --gap: 32px;
  // --gap-t-v: 19px;
  // --gap-t-h: 14px;

  $margin-top-desktop: calc(-1 * var(--gap));
  $margin-left-desktop: $margin-top-desktop;

  @include mq($desktop, $mt: $margin-top-desktop, $ml: $margin-left-desktop);
}

// photos
.more-photos__item {
  cursor: pointer;

  object-fit: cover;

  &.is-hidden {
    @include mq($end: $tablet) {
      position: absolute;
      transform: translateX(50%) scaleX(0);
    }

    @include mq($tablet) {
      visibility: visible;
      opacity: 1;
      pointer-events: initial;
    }
  }

  @include mq($tablet, $mt: var(--gap-t-v), $ml: var(--gap-t-h));
  @include mq($desktop, $mt: var(--gap), $ml: var(--gap));

  &:not(:last-child) {
    @include mq($end: $tablet, $mb: 16px);
  }
}

// .photos-card__thumb {}
// .photos-card { }

.photos-card__image,
.gallery-card__image {
  object-fit: contain;
  margin: 0 auto;

  transition-property: transform, opacity;
  @include animation;
}

.photos-card__image {
  opacity: 0;
  transform: translateX(50%) scaleX(0);
}

.gallery-card__image {
  width: 100%;
  max-height: 85vh;
}

.appear {
  transition-property: transform, opacity;
  opacity: 1;
  transform: translateX(0) scaleX(1);
  @include animation;
}

.more-photos__svg-wrapper {
  text-align: center;
}

.system-uicons-loader {
  cursor: pointer;
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    transform: rotateZ(360deg);
    transition-duration: calc(var(--time) * 4);
  }
}

// Overlay - Rectangle 80
.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 210;
  contain: strict;

  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: auto;

  transition-property: opacity, visibility;
  @include animation; // Fading is smooth

  background-color: rgba(#2b2b2b, 0.8);
  backdrop-filter: blur(4px);
  // Note: backdrop-filter has minimal browser support

  &.is-hidden {
    overflow: hidden;
  }

  &__container {
    margin: auto;
    padding: 20px 0;
    max-height: 100vh;
  }
}

// ------------------------------------------------------
/* || ------------- START "МОДАЛЬНОЕ ОКНО" -------------- */
// ------------------------------------------------------

// Modal window
.gallery-modal {
  position: relative;

  max-height: fit-content;

  // @include mq($tablet) {    max-height: 75vh;}

  // @include mq($desktop) {    max-height: 75vh;}

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background: rgba(var(--third-color), 0.8);
  border-radius: 4px;

  transition-property: transform, opacity;
  @include animation;

  .gallery-overlay.is-hidden > & {
    transform: scale(1.21);
  }

  &__list {
    @extend %list;
    display: flex;
  }

  &__item.is-hidden {
    position: absolute;
  }

  &__thumb {
    min-width: 236px;
    @include mq($tablet) {
      min-width: 554px;
    }
    @include mq($desktop) {
      min-width: 906px;
    }
  }

  &__btn-back {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--main-color);

    @include mq($end: $tablet, $mr: 9px) {
      min-width: 11px;
      min-height: 10px;
    }

    @include mq($tablet, $mr: 21px) {
      min-width: 26px;
      min-height: 26px;
    }

    @include mq($desktop, $mr: 47px) {
      min-width: 42px;
      min-height: 42px;
    }

    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    &:hover,
    &:focus {
      color: var(--second-accent-color);
      background-color: transparent;
    }

    &:focus {
      box-shadow: 0 0 3px 2px rgba(var(--third-color), 0.5);
    }
  }

  &__btn-next {
    @extend .gallery-modal__btn-back;

    @include mq($end: $tablet) {
      min-width: 11px;
      min-height: 10px;
    }

    @include mq($tablet) {
      min-width: 26px;
      min-height: 26px;
    }

    @include mq($desktop) {
      min-width: 42px;
      min-height: 42px;
    }

    @include mq($end: $tablet, $mr: 0, $ml: 9px);
    @include mq($tablet, $mr: 0, $ml: 21px);
    @include mq($desktop, $mr: 0, $ml: 47px);
  }

  // topcoat:next-light right
  &__next-icon {
    @extend %svg;
    @extend .transition;

    fill: currentColor;

    @include mq($end: $tablet) {
      min-width: 11px;
      min-height: 10px;
    }

    @include mq($tablet) {
      min-width: 26px;
      min-height: 26px;
    }

    @include mq($desktop) {
      min-width: 42px;
      min-height: 42px;
    }
  }

  // topcoat:next-light left
  &__back-icon {
    @extend .gallery-modal__next-icon;
    transform: rotate(180deg);
  }
}

/*
image size for modal window
d w906x605
t w554x369
m w236x157
*/

// ------------------------------------------------------
/* || -------------- END "МОДАЛЬНОЕ ОКНО" --------------- */
// ------------------------------------------------------
