// html structure reference
//<section class="more-photos section">
//  <div class="more-photos__container">
//    <div class="container more-photos__wrapper">
//      <h2 class="title-v1">БІЛЬШЕ ФОТО</h2>
//
//      <ul class="more-photos__list">
//        <li class="more-photos__item">
//          <div class="photos-card">
//            <a class="photos-card__link links"
//              <div class="photos-card__thumb">
//                <picture class="photos-card__picture">
//                 <img class="photos-card__image image transition"/>

.more-photos__container {
  // 768px = container max-width = 688px;
  padding-bottom: 50px; // 50px =  mobile  mb76 - section pb26

  @include mq($tablet, $desktop, $pb: 26px) {
    max-width: 768px; // 26px =  tablet  mb52 - section pb26
  }

  @include mq($desktop, $pb: 74px);
}

.more-photos__wrapper {
  margin: 0 auto 32px;

  @include mq($desktop, $mb: 56px);
}

.more-photos__title {
  margin-bottom: 16px;
  @include mq($tablet, $mb: 32px);
  @include mq($desktop, $mb: 52px);
}

.more-photos__list {
  position: relative;
  @extend %list;

  $margin-top-tablet: calc(-1 * var(--gap-t-v));
  $margin-left-tablet: calc(-1 * var(--gap-t-h));

  @include mq($tablet, $mt: $margin-top-tablet, $ml: $margin-left-tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  // --gap: 32px;
  // --gap-t-v: 19px;
  // --gap-t-h: 14px;

  $margin-top-desktop: calc(-1 * var(--gap));
  $margin-left-desktop: $margin-top-desktop;

  @include mq($desktop, $mt: $margin-top-desktop, $ml: $margin-left-desktop);
}

/* photos */
.more-photos__item {
  cursor: pointer;

  object-fit: cover;

  @include mq($tablet, $mt: var(--gap-t-v), $ml: var(--gap-t-h));
  @include mq($desktop, $mt: var(--gap), $ml: var(--gap));

  &:not(:last-child) {
    @include mq($end: $tablet, $mb: 16px);
  }

  &.is-hidden {
    position: absolute;
  }
}

// .photos-card__thumb {}
// .photos-card { }

.photos-card__image {
  object-fit: contain;
  margin: 0 auto;
}

.gallery-card__image {
  @extend .photos-card__image;
  width: 100%;
  max-height: 85vh;
}

// more-photos sizes: desktop
//   406x260 378x260 214x260
//   214x271 378x271 406x271
//   406x203 405x203 187x203
//   214x250 378x260 406x260

//more-photos sizes: tablet
// 247.73x158.64 230.64x158.64 130.58x158.64
// 130.58x165.36 230.64x165.36 247.73x165.36
// 247.73x123.86 247.12x123.86 114.10x123.86
// 130.58x158.64 230.64x158.64 247.73x158.64
//
// 0.3822993827	0.2171751412	0.2015123457
// 0.2015123457	0.2171751412	0.3822993827
// 0.3822993827	0.2326930320  0.1760802469
// 0.2015123457	0.2171751412	0.3822993827
//
// more-photos sizes: mobile
//     mobile sizes
//     280x179
//     280x193
//     280x340

// .to-be-loaded-images { @include mq($end: $mobile) { opacity: 0; transform: translateX(50%) scaleX(0); } }

.appear {
  transition-property: transform, opacity;
  opacity: 1;
  transform: translateX(0) scaleX(1);
  @include animation;
}

.more-photos__svg-wrapper {
  text-align: center;
}

.system-uicons-loader {
  transition-timing-function: var(--cubic);

  &:hover,
  &:focus {
    transform: rotateZ(360deg);
    transition-duration: calc(var(--time) * 4);
  }
}

/* Overlay - Rectangle 80 */
.gallery-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  contain: strict;

  transition-property: opacity, visibility;
  @include animation; // Fading is smooth

  background-color: rgba(#2b2b2b, 0.8);
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  z-index: 200;

  &.is-hidden {
    overflow: hidden;
  }

  &__container {
    margin: auto;
    padding: 20px 0;
    max-height: 100vh;
  }
}

// ------------------------------------------------------
/* || ------------- START "МОДАЛЬНОЕ ОКНО" -------------- */
// ------------------------------------------------------

// Modal window
.gallery-modal {
  position: relative;

  max-height: 85vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background: rgba(var(--third-color), 0.8);
  border-radius: 4px;

  transition-property: transform, opacity;
  @include animation;

  .gallery-overlay.is-hidden > & {
    transform: scale(1.21);
  }

  &__list {
    @extend %list;
    display: flex;
  }

  &__item.is-hidden {
    position: absolute;
  }

  &__thumb {
    min-width: 236px;
    @include mq($tablet) {
      min-width: 554px;
    }
    @include mq($desktop) {
      min-width: 906px;
    }
  }

  &__btn-back {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--main-color);

    @include mq($end: $tablet, $mr: 9px) {
      min-width: 11px;
      min-height: 10px;
    }

    @include mq($tablet, $mr: 21px) {
      min-width: 26px;
      min-height: 26px;
    }

    @include mq($desktop, $mr: 47px) {
      min-width: 42px;
      min-height: 42px;
    }

    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 50%;

    &:hover,
    &:focus {
      color: var(--second-accent-color);
      background-color: transparent;
    }

    &:focus {
      box-shadow: 0 0 3px 2px rgba(var(--third-color), 0.5);
    }
  }

  &__btn-next {
    @extend .gallery-modal__btn-back;

    height: 100vh;

    @include mq($end: $tablet, $mr: 0, $ml: 9px);
    @include mq($tablet, $mr: 0, $ml: 21px);
    @include mq($desktop, $mr: 0, $ml: 47px);
  }

  /* topcoat:next-light right */
  &__next-icon {
    @extend %svg;
    @extend .transition;

    fill: currentColor;
  }

  /* topcoat:next-light left */
  &__back-icon {
    @extend .gallery-modal__next-icon;
    transform: rotate(180deg);
    fill: currentColor;
  }
}

/*
image size for modal window
d w906x605
t w554x369
m w236x157
*/

// ------------------------------------------------------
/* || -------------- END "МОДАЛЬНОЕ ОКНО" --------------- */
// ------------------------------------------------------
