.backdrop {
  position: fixed;
  top: auto;
  left: auto;
  width: 100vw;
  height: 100vh;
  z-index: 100;

  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  overflow: hidden;
  transition-property: opacity, visibility, pointer-events;

  background-color: white;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
