.rectangle-101 {
  width: 71px;
  height: 74px;
  background-color: var(--main-color);
  z-index: -1;

  border-radius: 72px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 1025px;
  right: -45px;

  @media screen and (min-width: 768px) {
    border-radius: 25px 0px;
    top: 980px;
    right: 26px;
  }

  @media screen and (min-width: 1440px) {
    border-radius: 72px;
    width: 144px;
    height: 144px;
    top: 1127px;
    right: -44px;
  }
}

.rectangle-102 {
  display: none;

  @media screen and (min-width: 1440px) {
    display: block;
    position: absolute;
    top: 1037px;
    left: -64px;
    z-index: -1;

    border-radius: 72px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);

    width: 144px;
    height: 144px;
  }
}

.rectangle-103 {
  width: 71px;
  height: 74px;
  background-color: var(--main-color);
  z-index: -1;

  border-radius: 0px 35px 35px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 8px;
  left: 1px;

  @media screen and (min-width: 768px) {
    top: 8px;
    left: 233px;
  }

  @media screen and (min-width: 1440px) {
    border-radius: 0px 72px 72px 0px;

    width: 144px;
    height: 144px;

    top: 7px;
    left: 293px;
  }
}

.rectangle-104 {
  width: 71px;
  height: 74px;
  background-color: var(--main-color);
  z-index: -1;

  border-radius: 35px 0px 0px 35px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 8px;
  right: 1px;

  @media screen and (min-width: 768px) {
    top: 8px;
    left: 461px;
  }

  @media screen and (min-width: 1440px) {
    border-radius: 72px 0px 0px 72px;

    width: 144px;
    height: 144px;

    top: 7px;
    left: 1010px;
  }
}

.rectangle-105 {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    top: 471px;
    right: 8px;

    width: 71px;
    height: 74px;
    background-color: var(--main-color);
    z-index: -1;

    border-radius: 25px 0px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);
  }

  @media screen and (min-width: 1440px) {
    border-radius: 72px 0px;
    top: 667px;
    right: -23px;

    width: 144px;
    height: 144px;
  }
}

.rectangle-106 {
  width: 71px;
  height: 74px;
  background-color: var(--main-color);
  z-index: -1;

  border-radius: 0px 0px 35px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 295px;
  left: -25px;

  @media screen and (min-width: 768px) {
    top: 229px;
    left: 25px;
  }

  @media screen and (min-width: 1440px) {
    border-radius: 0px 0px 72px 0px;
    top: 159px;
    left: 1283px;

    width: 144px;
    height: 144px;
  }
}

.rectangle-107 {
  width: 71px;
  height: 74px;
  background-color: var(--main-color);
  z-index: -1;

  border-radius: 25px 0px;
  box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);

  position: absolute;
  top: 1352px;
  right: -6px;

  @media screen and (min-width: 768px) {
    border-radius: 0px 0px 0px 35px;
    top: 90px;
    right: 9px;
  }

  @media screen and (min-width: 1440px) {
    border-radius: 0px 0px 72px 0px;
    top: 280px;
    right: 1283px;

    width: 144px;
    height: 144px;
  }
}

.rectangle-108 {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    width: 71px;
    height: 74px;
    background-color: var(--main-color);
    z-index: -1;

    border-radius: 35px 0px 0px 0px;
    box-shadow: 20px 20px 80px rgba(0, 0, 0, 0.1);

    position: absolute;
    top: 8px;
    left: 32px;
  }

  @media screen and (min-width: 1440px) {
    border-radius: 72px 0px 0px 0px;

    top: 7px;
    left: 32px;

    width: 144px;
    height: 144px;
  }
}

.rectangle-109 {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    width: 71px;
    height: 74px;
    background-color: var(--main-color);
    z-index: -1;

    position: absolute;
    top: 8px;
    right: 92px;
  }

  @media screen and (min-width: 1440px) {
    top: 7px;
    right: 149px;

    width: 144px;
    height: 144px;
  }
}
