// ----- MENU FOR MOBILE/TABLET ----- //

.menu-nav {
    text-align: center;
    padding-top: 30px;
    margin-top: -24px;
}

.menu-nav__item {
    margin-top: 24px;
    @include font (24px, 700, 30px);
    color: var(--accent-color);
    &-decoration {
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        margin-left: -12px;
        &::before {
            content: "";
            display: inline-block;
            width: 7px;
            height: 7px;
            background-color: var(--accent-color);
            border-radius: 3px 0px;
            margin-right: 12px;
        } 
    }
}

.is-current {
    color: white;
    text-shadow: -1px -1px 0 var(--accent-color), 1px -1px 0 var(--accent-color), -1px 1px 0 var(--accent-color), 1px 1px 0 var(--accent-color);
}



