// style for sections positioning

.contacts-us {
  &__info {
    display: flex;
    flex-direction: column;

    @include mq($tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include mq($desktop) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: start;
    }
  }
}

//style for block

.contacts-us {
  &__wrap {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }

    @include mq($tablet, $mb: 0) {
      &:last-child {
        text-align: right;
      }
    }
    @include mq($desktop, $mb: 68px) {
      text-align: start;
      &:last-child {
        text-align: start;
      }
    }
  }

  //title
  &__title {
    margin-bottom: 8px;
    @include mq($desktop, $mb: 18px);
    &_firstleter {
      text-transform: capitalize;
    }
  }

  //list
  &__list {
    list-style: none;
  }

  // item
  &__item {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  // link
  &__link {
    @include mq($desktop) {
      @include font(18px, 400, 1.25, 0);
    }
  }

  //text in schedule
  &__graphic-time {
    display: block;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq($desktop) {
      display: inline;
    }
  }
}

// Add new mq for contact elements - mb need del
@media screen and (min-width: 530px) and (max-width: 767px) {
  .contacts-us__info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
  }

  .contacts-us__wrap {
    margin-bottom: 50px;

    &:last-child {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .contacts-us__item {
    display: flex;
  }
}
