//positioning
.contact-hero {
  &__container {
    margin-bottom: 52px;

    @include mq($desktop) {
      margin-bottom: 100px;
    }
  }

  &__title {
    margin-bottom: 16px;

    @include mq($tablet) {
      margin-bottom: 24px;
    }
  }

  &__wrapper {
    @include mq($tablet) {
      display: flex;
    }
  }
}

//video
.contact-hero__video {
  flex-shrink: 0;
  border-radius: 15px;
  max-width: 480px;
  height: 171px;
  @include mq($end: tablet, $mb: 16px) {
    margin-left: auto;
    margin-right: auto;
  }

  @include mq($tablet, $mr: 20px) {
    min-width: 247px;
    height: 192px;
  }
  @include mq($desktop, $mr: 32px) {
    min-width: 515px;
    height: 315px;
  }
}

.video {
  width: 100%;
  height: 100%;
}

//text
.contact-hero {
  &__text {
    @include font(16px, 300, 1.25, 0);
    color: var(--third-color);

    @include mq($desktop) {
      @include font(18px, 300, 1.28, 0);
    }
  }

  &__text-block {
    position: relative;
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq($desktop, $mb: 24px) {
      &:last-child {
        padding-bottom: 106px;
      }
    }
  }

  &__emoji {
    position: absolute;

    bottom: 0;
    left: 178px;

    width: 22px;
    height: 22px;

    @include mq($tablet) {
      bottom: 5px;
      left: 188px;
    }

    @include mq($desktop) {
      bottom: 0;
      left: 0;

      width: 49px;
      height: 49px;
    }
  }
}
