//positioning
.contacts-hero {
  &__container {
    margin-bottom: 52px;

    @include mq($desktop) {
      margin-bottom: 100px;
    }
  }

  &__title {
    margin-bottom: 16px;

    @include mq($tablet) {
      margin-bottom: 24px;
    }
  }

  &__wrapper {
    @include mq($tablet) {
      display: flex;
    }
  }
}

//video
.contacts__video {
  border-radius: 15px;
  width: 280px;
  height: 171px;
  @include mq($end: tablet, $mb: 16px);

  @include mq($tablet, $ml: 20px) {
    width: 247px;
    height: 192px;
  }
  @include mq($desktop, $ml: 32px) {
    width: 515px;
    height: 315px;
  }
}

.video {
  width: 100%;
  height: auto;
}

//text
.contact__text {
  @include font(18px, 300, 1.28);
  color: var(--third-color);

  &-block {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq($desktop, $mb: 24px);
  }
}

.emoji {
  position: absolute;

  @media screen and (min-width: 320px) {
    bottom: 0;
    right: 79px;

    width: 22px;
    height: 22px;
  }

  @media screen and (min-width: 768px) {
    bottom: 20px;
    right: 171px;
  }

  @media screen and (min-width: 1444px) {
    bottom: 0;
    left: 0;

    width: 49px;
    height: 49px;
  }
}
