// style for sections positioning

.contact {
  &__section {
    position: relative;
  }

  &__info {
    display: flex;
    flex-direction: column;

    @include mq($tablet) {
      flex-direction: row;
      justify-content: space-between;
    }

    @include mq($desktop) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
    }
  }

  &__gallery-wrap {
    display: none;
    width: 598px;
    height: 455px;
    position: absolute;
    right: -100px;
    bottom: -100px;

    @include mq($desktop) {
      display: block;
    }
  }
}

//style for block

.contact {
  &__wrap {
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }

    @include mq($tablet, $mb: 0) {
      &:last-child {
        text-align: right;
      }
    }
    @include mq($desktop, $mb: 30px) {
      &:last-child {
        margin-bottom: 76px;
      }
    }
  }

  //title
  &__title {
    margin-bottom: 8px;
    @include mq($desktop, $mb: 18px);
    &_firstleter {
      text-transform: capitalize;
    }
  }

  //list
  &__list {
    list-style: none;
  }

  // item
  &__item {
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  // link
  &__link {
    @include mq($desktop) {
      @include font(18px, 400, 1.25, 0);
    }
  }

  //text in schedule
  &__graphic-time {
    display: block;
    margin-bottom: 8px;
    &:last-child {
      margin-bottom: 0;
    }
    @include mq($desktop) {
      display: inline;
    }
  }
}

// Add new mq for contact elements - mb need del
@media screen and (min-width: 530px) and (max-width: 767px) {
  .contact__info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 490px;
    margin-left: auto;
    margin-right: auto;
  }

  .contact__wrap {
    margin-bottom: 50px;

    &:last-child {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .contact__item {
    display: flex;
  }
}
