// style for sections positioning

.contact {
  &__section {
    padding-bottom: 76px;
  }

  &__info {
    @include font(16px, 400, 1.25);

    @include mq($tablet) {
      display: flex;
      justify-content: space-between;
    }

    @include mq($desktop) {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: end;
    }
  }

  &__gallery-wrap {
    display: none;
    width: 438px;
    height: 294px;

    @include mq($desktop) {
      display: block;
    }
  }
}

//

.contact__title {
  margin-bottom: 8px;

  @include mq($desktop, $mb: 18px);

  &_firstleter {
    text-transform: capitalize;
  }
}

.contact__wrap {
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    &:last-child {
      text-align: right;
    }
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 76px;
    }
  }
}

.contact__link {
  font-size: 16px;
  line-height: 20px;
  color: #2b2b2b;

  // delete after add main style
  @media screen and (min-width: 1440px) {
    font-size: 18px;
    line-height: 20px;
  }
}

.contact__list {
  @extend %list;
}

.contact__item {
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contact__graphic-time {
  display: block;
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }

  @media screen and (min-width: 1440px) {
    display: inline;
  }
}
