// position section (title&content-box)
.to {
  &__section {
    padding-top: 11px;
    padding-bottom: 52px;

    @include mq($desktop, $pb: 100px);
  }

  //main title
  &__title {
    letter-spacing: 0em;
    margin-bottom: 16px;
    @include mq($tablet, $mb: 24px);
  }

  //main conteiner of section
  &__wrap {
    @include mq($tablet) {
      display: flex;
    }
  }
}

// img - hero

.to__hero {
  height: 171px;
  @media screen and (min-width: 530px) {
    height: 300px;
  }

  background-color: rgb(42, 42, 87);
  margin-bottom: 16px;
  border-radius: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../../src/images/take-order/hero/hero-mobile.jpg');
  @include bg-retina('../../src/images/take-order/hero/hero-mobile@2x.jpg');

  @include mq($tablet, $mb: 0, $mr: 20px) {
    width: 247px;
    height: 116px;
    flex-shrink: 0;
    background-image: url('../../src/images/take-order/hero/hero-tablet.jpg');
    @include bg-retina('../../src/images/take-order/hero/hero-tablet@2x.jpg');
  }

  @include mq($desktop, $mr: 32px) {
    width: 515px;
    height: 315px;
    background-image: url('../../src/images/take-order/hero/hero-desktop.jpg');
    @include bg-retina('../../src/images/take-order/hero/hero-desktop@2x.jpg');
  }
}

//content
.to {
  &__content {
    @include mq($desktop) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  //text -content
  &__text-container {
    @include mq($desktop, $mb: 55px);
  }

  &__text {
    @include font(16px, 300, 1.25);
    @include mq($desktop) {
      @include font(18px, 300, 1.28);
    }
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }

    @include mq($desktop, $mb: 24px);
  }

  /// img-content
  &__img-container {
    display: none;

    @include mq($desktop) {
      display: flex;
      justify-content: space-between;
    }
  }

  &__for-img {
    width: 144px;
    height: 144px;
    box-shadow: (20px 20px 80px rgba(0, 0, 0, 0.25));

    &_left {
      background-image: url('../../src/images/take-order/hero/car.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 72px 0px 0px 72px;
      @include bg-retina('../../src/images/take-order/hero/car@2x.jpg');
    }
    &_center {
      background-image: url('../../src/images/take-order/hero/cube.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 72px 0px;
      @include bg-retina('../../src/images/take-order/hero/cube@2x.jpg');
    }
    &_right {
      background-image: url('../../src/images/take-order/hero/lamp.jpg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 0px 0px 72px 0px;
      @include bg-retina('../../src/images/take-order/hero/lamp@2x.jpg');
    }
  }
}
