.of-contact__container {
  @include font(16px, 400, 1.25);
  padding-bottom: 76px;

  @include mq($start: $tablet, $end: $desktop) {
    max-width: 1000px;
  }

  @include mq($desktop, $pb: 100px) {
    @include font(18px, 400, 1.11);
    display: flex;
    justify-content: space-between;
  }
}

//positioning section

.of {
  &__section {
    padding-bottom: 52px;

    @include mq($tablet, $pb: 76px);
    @include mq($desktop, $pb: 0px);
  }

  &__container {
    margin-left: auto;
    margin-right: auto;
    @include mq($end: $tablet) {
      max-width: 420px;
    }
  }

  &__title {
    margin-bottom: 28px;

    @include mq($tablet, $mb: 35px) {
      text-align: center;
    }
    @include mq($desktop, $mb: 44px) {
      margin-bottom: 44px;
    }
  }
}

//style for form

.of__form {
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;

  @include mq($desktop, $ml: 0, $mr: 0) {
    max-width: 515px;
  }
}

//input - name, email
.of {
  &__wrap-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
    position: relative;
  }
  &__label-input {
    position: absolute;
    bottom: 4px;
    left: 0;
    transform: translateY(0);
    @include animation;
  }
  &__input {
    padding: 4px 0;
    border: none;
    border-bottom: 1px solid var(--accent-color);
    width: 100%;
    height: 28px;

    &:hover,
    &:focus {
      outline: none;
    }

    &:hover ~ .of__label-input,
    &:focus ~ .of__label-input,
    &:not(:placeholder-shown) ~ .of__label-input {
      transform: translateY(-150%);
    }
  }
}

//comment
.of {
  &__wrap-comment {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    position: relative;
    @include mq($tablet, $mb: 44px);
    @include mq($desktop, $mb: 24px);
  }

  &__comment-aria {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 4px;
  }

  &__label-comment {
    margin-bottom: 4px;
  }

  &__comment {
    border: 1px solid var(--accent-color);
    border-radius: 50px 0px;
    resize: none;
    height: 199px;
    padding: 22px 25px;

    &::placeholder {
      @include font(16px, 400, 1.25);
      color: #cdcdcd;
    }

    &:hover,
    &:focus {
      outline: none;
    }
  }

  &__loading-file {
    display: none;
  }

  &__loading-file-label {
    position: absolute;
    bottom: 18px;
    right: 21px;
    cursor: pointer;
    fill: #cdcdcd;
    transition-property: fill;
    @include animation;

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }

    &.active {
      fill: #d6a12f;
    }
  }

  &__file-icon {
    width: 22px;
    height: 20px;
  }

  &__info {
    color: #cdcdcd;
  }
}

//btn position

.of__button {
  display: block;
  width: 100%;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto;

  @include mq($tablet) {
    margin-right: 0;
    margin-left: auto;
    width: 177px;
  }
}

//select

.select {
  display: flex;
  // width: 280px;
  flex-direction: column;
  margin-bottom: 44px;

  @include mq($tablet) {
    width: 420px;
  }
  @include mq($desktop) {
    width: 515px;
  }

  &__container {
    order: 1;
    width: 100%;
    border: none;
    border-bottom: 1px solid #487996;

    overflow: hidden;
    max-height: 0px;
    opacity: 0;

    transition-property: opacity, max-height;
    @include animation;

    &.active {
      opacity: 1;
      max-height: 130px;

      //if need scroll
      // overflow-y: auto;

      & + .select__title::after {
        transform: rotate(180deg);
        bottom: 10px;
      }
    }

    //if need scroll
    // &::-webkit-scrollbar {
    //   width: 8px;
    //   background-color: rgba(72, 121, 150, 0.5);
    // }

    // &::-webkit-scrollbar-thumb {
    //   background-color: #487996;
    //   height: 20px;
    // }
  }

  //title-select
  &__title {
    order: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #487996;
    position: relative;
    transition: all var(--time) var(--cubic);

    //arrowdown
    &::after {
      content: '';
      cursor: pointer;
      display: flex;
      background-image: url(../../src/images/take-order/polygon1.svg);
      background-repeat: no-repeat;
      background-size: contain;

      position: absolute;
      bottom: 7px;
      right: 2px;
      width: 15px;
      height: 10px;
      transition-property: transform;
      @include animation;
    }
  }
  // all options
  &__option {
    padding: 4px 8px;
    cursor: pointer;
    transition-property: color, background-color;
    @include animation;

    &:hover,
    &:focus {
      background-color: rgba(72, 121, 150, 0.5);
      color: #fff;
    }
  }

  //name of options
  &__label {
    cursor: pointer;
  }

  &__radio {
    display: none;
  }
}
