<div>
    <section class="section">
        <div class="container">
            <h1 class="title-v1 title-modeling">3D МОДЕЛЮВАННЯ</h1>
            <div class="container-text">
                <p class="text text-modeling">
                    Сфера 3D графіки може надати широкий спектр послуг. Але якщо спроектована модель буде створюватися
                    шляхом 3D
                    друку,
                    обробки заготовки на ЧПУ станках або іншими виробничими методами, то до моделі преставляеться ряд
                    інженерних
                    вимог
                    які
                    повинен враховувати дизайнер при розробці моделі.
                </p>
                <p class="text text-modeling">
                    Наші фахівці допоможуть вам визначитися з технічною стороною вироба і підготують модель для її
                    створення. Ми
                    маємо
                    широкий спектр інструментів для вдоволення будь-якої вашої задачі.
                </p>
            </div>
        </div>
    </section>
    <section class="section ">
        <div class="container">
            <h2 class="title-v2 subtitle-modeling">
                Способи створення моделі:
            </h2>
            <div class="container-item">
                <ul class="list-modeling ">
                    <li class="item-modeling">
                        <p>3D сканування</p>
                    </li>
                    <li class="item-modeling">
                        <p>На основі фотографій з доданими розмірами</p>
                    </li>
                    <li class="item-modeling">
                        <p>За ескізами з розмірами</p>
                    </li>
                    <li class="item-modeling">
                        <p>За вашим кресленням</p>
                    </li>
                    <li class="item-modeling">
                        <p>По вже існуючому прототипу шляхом зняття розмірів</p>
                    </li>
                </ul>
                <div class="background-modeling"></div>
            </div>
        </div>
    </section>
    <div class=""></div>

</div>