<section class="section methods-of-creations-section">
  <div class="container">
    <div class="container-bg">
      <h2 class="title-v2 subtitle-modeling">Способи створення моделі:</h2>
      <div class="container-background">
        <ul class="list-modeling">
          <li class="item-modeling">
            <p>3D сканування</p>
          </li>
          <li class="item-modeling">
            <p>На основі фотографій з доданими розмірами</p>
          </li>
          <li class="item-modeling">
            <p>За ескізами з розмірами</p>
          </li>
          <li class="item-modeling">
            <p>За вашим кресленням</p>
          </li>
          <li class="item-modeling">
            <p>По вже існуючому прототипу шляхом зняття розмірів</p>
          </li>
        </ul>
        <div class="background-modeling"></div>
      </div>
    </div>
  </div>
</section>
