<section class="section we-create-model">
  <div class="container we-create-model__container">
    <div class="content-wrraper">
      <h2 class="title-v3 we-create-model__title">
        Ми створюємо фотореалістичні зображення моделей
      </h2>
      <ul class="model-examples">
        <li class="model-examples__item">
          <picture>
            <source
              srcset="
                ../images/we-create-model/desktop-opt/we-make-img1-250.webp 1x,
                ../images/we-create-model/desktop-opt/we-make-img1-500.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ../images/we-create-model/tablet-opt/we-make-img1-153.webp 1x,
                ../images/we-create-model/tablet-opt/we-make-img1-306.webp 2x
              "
              media="(min-width: 465px)"
              type="image/webp"
            />

            <source
              srcset="
                ../images/we-create-model/mobile-opt/we-make-img1-135.webp 1x,
                ../images/we-create-model/mobile-opt/we-make-img1-270.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />

            <img
              class="model-examples__img"
              srcset="
                ../images/we-create-model/we-make-img1-153.jpg 1x,
                ../images/we-create-model/we-make-img1-153.jpg 2x
              "
              src="../images/we-create-model/we-make-img1-153.jpg"
              alt=""
            />
          </picture>
        </li>
        <li class="model-examples__item">
          <picture>
            <source
              srcset="
                ../images/we-create-model/desktop-opt/we-make-img2-250.webp 1x,
                ../images/we-create-model/desktop-opt/we-make-img2-500.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ../images/we-create-model/tablet-opt/we-make-img2-153.webp 1x,
                ../images/we-create-model/tablet-opt/we-make-img2-306.webp 2x
              "
              media="(min-width: 465px)"
              type="image/webp"
            />

            <source
              srcset="
                ../images/we-create-model/mobile-opt/we-make-img2-135.webp 1x,
                ../images/we-create-model/mobile-opt/we-make-img2-270.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />

            <img
              class="model-examples__img"
              srcset="
                ../images/we-create-model/we-make-img2-153.jpg 1x,
                ../images/we-create-model/we-make-img2-153.jpg 2x
              "
              src="../images/we-create-model/we-make-img2-153.jpg"
              alt=""
            />
          </picture>
        </li>

        <li class="model-examples__item">
          <picture>
            <source
              srcset="
                ../images/we-create-model/desktop-opt/we-make-img3-250.webp 1x,
                ../images/we-create-model/desktop-opt/we-make-img3-500.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ../images/we-create-model/tablet-opt/we-make-img3-153.webp 1x,
                ../images/we-create-model/tablet-opt/we-make-img3-306.webp 2x
              "
              media="(min-width: 465px)"
              type="image/webp"
            />

            <source
              srcset="
                ../images/we-create-model/mobile-opt/we-make-img3-135.webp 1x,
                ../images/we-create-model/mobile-opt/we-make-img3-270.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />

            <img
              class="model-examples__img"
              srcset="
                ../images/we-create-model/we-make-img3-153.jpg 1x,
                ../images/we-create-model/we-make-img3-153.jpg 2x
              "
              src="../images/we-create-model/we-make-img3-153.jpg"
              alt=""
            />
          </picture>
        </li>
        <li class="model-examples__item">
          <picture>
            <source
              srcset="
                ../images/we-create-model/desktop-opt/we-make-img4-250.webp 1x,
                ../images/we-create-model/desktop-opt/we-make-img4-500.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ../images/we-create-model/tablet-opt/we-make-img4-153.webp 1x,
                ../images/we-create-model/tablet-opt/we-make-img4-306.webp 2x
              "
              media="(min-width: 465px)"
              type="image/webp"
            />

            <source
              srcset="
                ../images/we-create-model/mobile-opt/we-make-img4-135.webp 1x,
                ../images/we-create-model/mobile-opt/we-make-img4-270.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />

            <img
              class="model-examples__img"
              srcset="
                ../images/we-create-model/we-make-img4-153.jpg 1x,
                ../images/we-create-model/we-make-img4-153.jpg 2x
              "
              src="../images/we-create-model/we-make-img4-153.jpg"
              alt=""
            />
          </picture>
        </li>
      </ul>
    </div>
    <include src="./partials/components/order-form-button.html"></include>
  </div>
</section>
