<section class="scan-process">
  <div class="container scan-container">
    <h2 class="title-v2">Процес 3D сканування</h2>
    <ul class="scan-process__list">
      <li class="scan-process__item scan-process__item--scan-process-1">
        <h3 class="scan-process__desc">
          Підготовка деталі <span class="next-line">до сканування</span>
        </h3>
      </li>
      <li class="scan-process__item scan-process__item--scan-process-3">
        <h3 class="scan-process__desc">
          Створення сканів <span class="next-line">і їх обробка</span>
        </h3>
      </li>
      <li class="scan-process__item scan-process__item--scan-process-4">
        <h3 class="scan-process__desc">Перетворення reverse engineering</h3>
      </li>
      <li class="scan-process__item scan-process__item--scan-process-2">
        <h3 class="scan-process__desc">
          Підготовка моделі <span class="next-line">до друку</span>
        </h3>
      </li>
    </ul>

    <div class="scan-btn">
      <a class="button" href="./take-order-page.html">Зробити замовлення</a>
    </div>
  </div>
</section>
