<!-- <h1>printing-page</h1> -->
<section class="examples__section section">
  <div class="container">
    <h2 class="examples__title title-v1">МИ СТВОРЮЄМО</h2>
    <ul class="examples__list list">
      <li class="examples__item">
        <picture>
          <source
            media="(min-width: 1200px)"
            srcset="
            ../images/printing-page/Example-1/example-1-desktop.webp   1x,
            ../images/printing-page/Example-1/example-1-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
            ../images/printing-page/example-1/example-1-desktop.png    1x,
            ../images/printing-page/example-1/example-1-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ../images/printing-page/example-1/example-1-tablet.webp    1x,
            ../images/printing-page/example-1/example-1-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ../images/printing-page/example-1/example-1-tablet.png    1x,
            ../images/printing-page/example-1/example-1-tablet@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ../images/printing-page/example-1/example-1-mobile.webp    1x,
            ../images/printing-page/example-1/example-1-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ../images/printing-page/example-1/example-1-mobile.png    1x,
            ../images/printing-page/example-1/example-1-mobile@2x.png 2x
            "
          />
          <img class="examples__image" src="#" alt="Прототип" />
        </picture>
        <p class="examples__description">ПРОТОТИПИ</p>
      </li>

      <li class="examples__item">
        <picture>
            <source
            media="(min-width: 1200px)"
            srcset="
            ../images/printing-page/Example-2/example-2-desktop.webp   1x,
            ../images/printing-page/Example-2/example-2-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
            ../images/printing-page/example-2/example-2-desktop.png    1x,
            ../images/printing-page/example-2/example-2-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ../images/printing-page/example-2/example-2-tablet.webp    1x,
            ../images/printing-page/example-2/example-2-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ../images/printing-page/example-2/example-2-tablet.png    1x,
            ../images/printing-page/example-2/example-2-tablet@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ../images/printing-page/example-2/example-2-mobile.webp    1x,
            ../images/printing-page/example-2/example-2-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ../images/printing-page/example-2/example-2-mobile.png    1x,
            ../images/printing-page/example-2/example-2-mobile@2x.png 2x
            "
          />
          <img class="examples__image" src="#" alt="Макет" />
        </picture>
        <p class="examples__description">МАКЕТИ</p>
      </li>

      <li class="examples__item">
        <picture>
            <source
            media="(min-width: 1200px)"
            srcset="
            ../images/printing-page/Example-3/example-3-desktop.webp   1x,
            ../images/printing-page/Example-3/example-3-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
            ../images/printing-page/example-3/example-3-desktop.png    1x,
            ../images/printing-page/example-3/example-3-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ../images/printing-page/example-3/example-3-tablet.webp    1x,
            ../images/printing-page/example-3/example-3-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ../images/printing-page/example-3/example-3-tablet.png    1x,
            ../images/printing-page/example-3/example-3-tablet@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ../images/printing-page/example-3/example-3-mobile.webp    1x,
            ../images/printing-page/example-3/example-3-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ../images/printing-page/example-3/example-3-mobile.png    1x,
            ../images/printing-page/example-3/example-3-mobile@2x.png 2x
            "
          />
          <img class="examples__image" src="#" alt="Декор" />
        </picture>
        <p class="examples__description">ДЕКОР</p>
      </li>

      <li class="examples__item">
        <picture>
            <source
            media="(min-width: 1200px)"
            srcset="
            ../images/printing-page/Example-4/example-4-desktop.webp   1x,
            ../images/printing-page/Example-4/example-4-desktop@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 1200px)"
            srcset="
            ../images/printing-page/example-4/example-4-desktop.png    1x,
            ../images/printing-page/example-4/example-4-desktop@2x.png 2x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ../images/printing-page/example-4/example-4-tablet.webp    1x,
            ../images/printing-page/example-4/example-4-tablet@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(min-width: 768px)"
            srcset="
            ../images/printing-page/example-4/example-4-tablet.png    1x,
            ../images/printing-page/example-4/example-4-tablet@2x.png 2x
            "
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ../images/printing-page/example-4/example-4-mobile.webp    1x,
            ../images/printing-page/example-4/example-4-mobile@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            media="(max-width: 767px)"
            srcset="
            ../images/printing-page/example-4/example-4-mobile.png    1x,
            ../images/printing-page/example-4/example-4-mobile@2x.png 2x
            "
          />
          <img class="examples__image" src="#" alt="Дизайн" />
        </picture>
        <p class="examples__description">КОРПОРАТИВНИЙ ДИЗАЙН</p>
      </li>
    </ul>
  </div>
</section>
