<section class="process__section section">
  <div class="container">
    <h2 class="is-hidden">Процес</h2>
    <ul class="process__list list">
      <li class="process__item">
        <div class="process__left-side">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ../images/printing-page/process-1/process-1-desktop.webp    1x,
                ../images/printing-page/process-1/process-1-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../images/printing-page/process-1/process-1-desktop.jpg    1x,
                ../images/printing-page/process-1/process-1-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/printing-page/process-1/process-1-tablet.webp    1x,
                ../images/printing-page/process-1/process-1-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/printing-page/process-1/process-1-tablet.jpg    1x,
                ../images/printing-page/process-1/process-1-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../images/printing-page/process-1/process-1-mobile.webp    1x,
                ../images/printing-page/process-1/process-1-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../images/printing-page/process-1/process-1-mobile.jpg    1x,
                ../images/printing-page/process-1/process-1-mobile@2x.jpg 2x
              "
            />
            <img
              class="process__image"
              src="../images/printing-page/process-1/process-1-desktop.jpg"
              alt="Макет Ейфелевої вежі"
            />
          </picture>
        </div>
        <div class="process__right-side">
          <div class="process__text-container">
            <p class="process__text">
              <span class="process__text-title">3D-друк</span> - ми використовуємо FDM технологію
              друку. Вона представляє собою пошарове формування об'єкта за допомогою 3D принтера.
            </p>
            <p class="process__text">
              Моделі для створення розроблюються дизайнерами в спеціальному програмному
              забезпеченні: системах автоматизованого проектування.
            </p>
            <p class="process__text">
              3D друк знайшов широке застосування в архітектурі, промисловості, маркетингу,
              мистецтві і багатьох інших сфер.
            </p>
          </div>
          <div class="order-button">
            <include src="./partials/components/order-form-button.html"></include>
          </div>
        </div>
      </li>
      <li class="process__item">
        <div class="process__left-side">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ../images/printing-page/process-2/process-2-desktop.webp    1x,
                ../images/printing-page/process-2/process-2-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../images/printing-page/process-2/process-2-desktop.jpg    1x,
                ../images/printing-page/process-2/process-2-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/printing-page/process-2/process-2-tablet.webp    1x,
                ../images/printing-page/process-2/process-2-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/printing-page/process-2/process-2-tablet.jpg    1x,
                ../images/printing-page/process-2/process-2-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../images/printing-page/process-2/process-2-mobile.webp    1x,
                ../images/printing-page/process-2/process-2-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../images/printing-page/process-2/process-2-mobile.jpg    1x,
                ../images/printing-page/process-2/process-2-mobile@2x.jpg 2x
              "
            />
            <img
              class="process__image"
              src="../images/printing-page/process-2/process-2-desktop.jpg"
              alt="3-D моделювання"
            />
          </picture>
        </div>
        <div class="process__right-side">
          <div class="process__text-container">
            <p class="process__text">
              <span class="process__text-title">3D-моделювання</span> - це процес розробки
              математичного уявлення будь-якої поверхні об'єкта в трьох вимірах за допомогою
              спеціалізованого програмного забезпечення.
            </p>
            <p class="process__text">
              Наші дизайнери зпроектують будь-який виріб виходячи з ваших побажань.
            </p>
            <p class="process__text">
              Розуміючи специфіку3D друку і ваших задач ми створимо деталь яка повністю задовольнить
              ваші потреби.
            </p>
          </div>
          <div class="order-button">
            <include src="./partials/components/order-form-button.html"></include>
          </div>
        </div>
      </li>
      <li class="process__item">
        <div class="process__left-side">
          <picture>
            <source
              media="(min-width: 1200px)"
              srcset="
                ../images/printing-page/process-3/process-3-desktop.webp    1x,
                ../images/printing-page/process-3/process-3-desktop@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1200px)"
              srcset="
                ../images/printing-page/process-3/process-3-desktop.jpg    1x,
                ../images/printing-page/process-3/process-3-desktop@2x.jpg 2x
              "
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/printing-page/process-3/process-3-tablet.webp    1x,
                ../images/printing-page/process-3/process-3-tablet@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(min-width: 768px)"
              srcset="
                ../images/printing-page/process-3/process-3-tablet.jpg    1x,
                ../images/printing-page/process-3/process-3-tablet@2x.jpg 2x
              "
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../images/printing-page/process-3/process-3-mobile.webp    1x,
                ../images/printing-page/process-3/process-3-mobile@2x.webp 2x
              "
              type="image/webp"
            />
            <source
              media="(max-width: 767px)"
              srcset="
                ../images/printing-page/process-3/process-3-mobile.jpg    1x,
                ../images/printing-page/process-3/process-3-mobile@2x.jpg 2x
              "
            />
            <img
              class="process__image"
              src="../images/printing-page/process-3/process-3-desktop.jpg"
              alt="3-D сканиування"
            />
          </picture>
        </div>
        <div class="process__right-side">
          <div class="process__text-container">
            <p class="process__text">
              <span class="process__text-title">3D-сканування</span> - зняття даних, шляхом аналізу
              форми предмета і на основі отриманих даних створення її 3D-моделі.
            </p>
            <p class="process__text">
              Це універсальний інструмент, який дозволяє отримати як і просто 3D-модель для
              візуалізації в цифровому вигляді, так і 3D-модель для подальшого її друку на
              3D-принтері.
            </p>
          </div>
          <div class="order-button">
            <include src="./partials/components/order-form-button.html"></include>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
